/deep/.ui-paginator .ui-paginator-pages .ui-paginator-page {
    padding: 0px !important;
}
input {
    width: 100%;
}
.table-bordered{
    border: none;
}
.header-class{
    background-color: #0275D8;
    color: white
}
.no-padding-class{
    padding: 0;
}
td:nth-child(4) {
    background-color: #DEF5DF;
  }
  td:nth-child(5){
    background-color: aliceblue;
  }

.goalCategoryHeading{
    font-weight: 600;
    color: #989898;
}
.mainClass{
    min-height: inherit;
}