<div style="margin-top: 10px">
    <app-page-header [heading]="'My Measures'" [icon]="'fa-table'"></app-page-header>
    <div class="card">
    <div class="row" style="margin: 20px">
        <div class="col col-lg-12">
            <button type="button" pButton icon="fa fa-download"  *ngxPermissionsOnly="['7D']" label="Export" (click)="dt.exportCSV()" style="float: right;"></button>
            <br><br>
            <p-table #dt  class="table table-bordered table-hover"  [scrollable]="false" [value]="membergaps" [columns]="cols" [paginator]="true" [rows]="20" exportFilename="My_Measures">
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let col of cols" [pSortableColumn]="col.field" class="text-center align-middle header-class">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th class="header-class" width="10%"></th>
                    </tr>
                   <tr>
                        <th *ngFor="let col of cols" [ngSwitch]="col.field" >
                                <div *ngSwitchCase="'age'">
                                        Age > {{ageFilter}}
                                        <i class="fa fa-close" (click)="ageFilter=null;dt.filter(null, col.field, col.filterMatchMode)" style="cursor:pointer" *ngIf="yearFilter"></i>
                                        <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="ageFilter" [min]="0" [max]="100" (onChange)="dt.filter($event.value, 'age', 'gt');"></p-slider>
                                    </div>
                                    
                            <input *ngSwitchDefault pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                            <p-dropdown *ngSwitchCase="'gender'" [options]="genderTypes" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns" (click)="copytoCreator(rowData['id'], 1)" style="cursor: pointer;">
                            {{rowData[col.field]}}
                        </td>
                        <td [ngSwitch]="rowData['status']">
                            <div *ngSwitchCase="'Approved'" >
                                <i class="fa fa-2x fa-check-square text-secondary"></i>&nbsp;
                                <i class="fa fa-2x fa-window-close text-secondary"></i>&nbsp;
                                <a [routerLink]="['/configurator']" *ngxPermissionsOnly="['7W']"><i class="fa fa-2x fa-cog text-primary" style="cursor:pointer" pTooltip="Configure"></i></a>
                            </div>
                            <div *ngSwitchCase="'New'">
                                <i class="fa fa-2x fa-check-square text-primary" style="cursor:pointer" (click)="statusClickImg('Approved',rowData['id'])" pTooltip="Approve" *ngxPermissionsOnly="['7W']"></i>&nbsp;
                                <i class="fa fa-2x fa-window-close text-primary" style="cursor:pointer" (click)="statusClickImg('Rejected',rowData['id'])" pTooltip="Reject" *ngxPermissionsOnly="['7W']"></i>&nbsp;
                                <i class="fa fa-2x fa-cog text-secondary"></i>
                            </div>
                            <div *ngSwitchDefault>
                                <i class="fa fa-2x fa-check-square text-secondary"></i>&nbsp; 
                                <i class="fa fa-2x fa-window-close text-secondary"></i>&nbsp;
                                <i class="fa fa-2x fa-cog text-secondary"></i>
                            </div>
                            
                            <!-- <i class="fa fa-2x fa-check-square" style="cursor:pointer"></i>&nbsp;
                            <i class="fa fa-2x fa-window-close" style="cursor:pointer"></i>&nbsp;
                            <i class="fa fa-2x fa-cog" style="cursor:pointer" [routerLink]="['/configurator']"></i> -->
                         
                            <!-- <span class="fa-stack fa-lg" style="cursor: pointer;" >
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-cog fa-stack-1x fa-inverse"></i>
                            </span> -->
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
</div>
