/deep/.ui-paginator .ui-paginator-pages .ui-paginator-page {
    padding: 0px !important;
}
input {
    width: 100%;
}
.header-class{
    background-color: #0275D8;
    color: white
}
.table-bordered{
    border: none;
}