<div>
<app-page-header [heading]="'Quality Central'" [icon]="'fa-table'"></app-page-header>
<div class="card">
<div class="row p-3 align-items-center">
    <div class="col-sm-12 col-lg-4 ">
        <div class="brand-card  card-block">
            <div class="brand-card-header text-white pb-0 bg-secondary">
                <div class="btn-group float-left icon-bg">
                        <img src="assets/images/Reembursement.png" >
                </div>
                <div class="text-value">Quality Programs</div>
            </div>
            <div class="brand-card-body text-black pb-2">
                <table class="qmstable" style="width:100%;height:100%">
                    <tr *ngFor="let program of programs; let i = index">
                        <td class="text-left list-values">{{program}}</td>
                        <td width="15%">
                            <a href="http://healthinsight:8082/curis/MIPS.html"  *ngIf="i==0"> <i class="fa fa-pie-chart" ></i></a>
                            <a href='http://192.168.184.70/views/CurisDashboard_HEDIS_1/HEDIS_Plan?:embed=y&:showAppBanner=false&:showShareOptions=true&:display_count=no&:showVizHome=no' *ngIf="i==1"> <i class="fa fa-pie-chart" ></i></a>
                            <span *ngIf="i>1"> &nbsp;&nbsp;&nbsp;</span>
                            &nbsp;<a [routerLink]="['/measurelibrary','reimbursement', program]"><i class="fa fa-th-list"></i></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-4">
        <div class="brand-card  ">
            <div class="brand-card-header text-white pb-0 bg-secondary">
                <div class="btn-group float-left icon-bg">
                        <img src="assets/images/Clinical.png" >
                </div>
                <div class="text-value">Clinical Conditions</div>
            </div>
            <div class="brand-card-body text-black pb-2">
                <table class="qmstable">
                    <tr *ngFor="let clinicalCondition of clinicalConditions; let i = index">
                        <td class="text-left">{{clinicalCondition}}</td>
                        <td><a [routerLink]="['/measurelibrary','clinical', clinicalCondition]"><i class="fa fa-th-list"></i></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-4">
        <div class="brand-card  ">
            <div class="brand-card-header text-white pb-0 bg-secondary">
                <div class="btn-group float-left icon-bg">
                        <img src="assets/images/NQF.png">
                </div>
                <div class="text-value">NQF Domain</div>
            </div>
            <div class="brand-card-body text-black pb-2">
                <table class="qmstable">
                    <tr *ngFor="let measureDomain of measureDomains; let i = index">
                        <td class="text-left">{{measureDomain.name}}</td>
                        <td><a [routerLink]="['/measurelibrary','nqf', measureDomain.value]"><i class="fa fa-th-list"></i></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>