<div  style="margin: 25px;margin-top: 10px">
        <app-page-header [heading]="'Measure Improvement Tool '" [icon]="'fa-table'"></app-page-header>
    <div class="card ">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="myForm" novalidate method="post" class="form-horizontal">
                    <div class="form-group">
                    <div class="row"><span class="col-lg-12 font-weight-bold" style="font-size: large">Population and Care Gap</span></div>
                    <hr class="lineClass">
                    <br>
                    <div class=" row">
                        <span class="col-lg-3 col-md-3 col-form-label font-weight-bold" for="hf-population">Population</span>
                        <span class="col-lg-3 col-md-3 col-form-label font-weight-bold" for="hf-measure">Measure</span>
                    </div>
                    <div class="row">
                        <span class="col-lg-3 col-md-3">
                            <p-dropdown placeholder="Select" [autoDisplayFirst]="false"  styleClass="form-control" [options]="populationList" formControlName="population" [style]="{'width':'100%', 'border': '1px solid #ABACAD','padding':'0px'}"></p-dropdown>
                        </span>
                        <span class="col-lg-3 col-md-3">
                            <p-dropdown placeholder="Select" [autoDisplayFirst]="false"  styleClass="form-control" [options]="measureList" formControlName="measure" [style]="{'width':'100%', 'border': '1px solid #ABACAD','padding':'0px'}" (onChange)="filterMeasure($event)"></p-dropdown>
                        </span>
                    </div>
                    <div class="row">
                            <span class="col-lg-3 col-md-3">
                                <small *ngIf="!myForm.controls.population.valid && myForm.controls.population.touched" class="text-danger">
                                        Population is required.
                                </small>
                            </span>
                        </div> 
                    </div>
                    <hr>
                    <div class="form-group">
                            <div class="row"><span class="col-lg-12 font-weight-bold" style="font-size: large">Search Patient</span></div>
                            <hr class="lineClass">
                            <br>
                            <div class=" row">
                                <div class="col-lg-3 col-md-3">
                                    <div class="row">
                                        <span class="col-lg-12 col-form-label font-weight-bold" for="hf-associatedPList">Associated patient list</span>
                                    </div>
                                    <div class="row col-lg-12">
                                        <p-autoComplete id="hf-member" name="hf-member" [forceSelection]="true"  formControlName="patientId" [suggestions]="memberList" (onSelect)="loadMemberInfo($event)"  (completeMethod)="search($event)" placeholder="Enter Name or MRN"></p-autoComplete>
                                    </div>
                                </div>
                                <div   class="col-lg-5">
                                        <span class="col-lg-12 row"><b>Name :</b> {{gaps?.name}}</span>
                                        <span class="col-lg-12 row"><b>MRN :</b> {{mrn}}</span>
                                        <div class="row">
                                            <span class="col-lg-3 col-md-3"><b>Gender :</b> {{gaps?.gender}}</span>
                                            <span class="col-lg-5"><b>DoB :</b> {{gaps?.dateOfBirthSk}}</span>
                                        </div>
                                </div>
                                <div  class="col-lg-4">
                                        <span class="col-lg-12 row" ><b>PCP Name :</b> {{gaps?.pcpName}}</span>
                                        <span class="col-lg-12 row" ><b>Compliant :</b> {{gaps?.compliant}}</span>
                                        <span class="col-lg-12 row"><b>Next Appointement Date :</b> {{gaps?.nextAppointmentDate}}</span>
                                        
                                </div>
                            </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="row"><span class="col-lg-12 font-weight-bold" style="font-size: large">Action on Care Gap</span></div>
                        <hr class="lineClass">
                        <br>
                        <div class="row">
                            <span class="col-lg-3 col-md-3 col-form-label font-weight-bold" for="hf-patientStatus">Patient Status</span> 
                            <span class="col-lg-3 col-md-3 col-form-label font-weight-bold" for="hf-valueSet">Value Set</span>
                            <span class="col-lg-3 col-md-3 col-form-label font-weight-bold" for="hf-codeType">Code Type</span>
                            <span class="col-lg-3 col-md-3 col-form-label font-weight-bold" for="hf-codes">Codes</span>
                        </div> 
                        <div class="row">
                            <span class="col-lg-3 col-md-3">
                                <p-dropdown placeholder="Select" [autoDisplayFirst]="false"  styleClass="form-control" [options]="patientStatusList" formControlName="patientStatus" [style]="{'width':'100%', 'border': '1px solid #ABACAD','padding':'0px'}" (onChange)="filterPatientStatus($event)"></p-dropdown>
                            </span>
                            <span class="col-lg-3 col-md-3">
                                <p-dropdown placeholder="Select" [autoDisplayFirst]="false"  styleClass="form-control" [options]="valueList" formControlName="valueSet" [style]="{'width':'100%', 'border': '1px solid #ABACAD','padding':'0px'}" (onChange)="filterValueSet($event)"></p-dropdown>
                            </span>
                            <span class="col-lg-3 col-md-3">
                                <p-dropdown placeholder="Select" [autoDisplayFirst]="false"  styleClass="form-control" [options]="codeTypeList" formControlName="codeType" [style]="{'width':'100%', 'border': '1px solid #ABACAD','padding':'0px'}" (onChange)="filterCodeType($event)"></p-dropdown>
                            </span>
                            <span class="col-lg-3 col-md-3">
                                <p-dropdown placeholder="Select" [autoDisplayFirst]="false"  styleClass="form-control" [options]="codesList" formControlName="codes" [style]="{'width':'100%', 'border': '1px solid #ABACAD','padding':'0px'}"></p-dropdown>
                            </span>
                       </div>
                        <div class="row">
                            <span class="col-lg-3 col-md-3">
                                <small *ngIf="!myForm.controls.patientStatus.valid && myForm.controls.patientStatus.touched" class="text-danger">
                                    Patient Status is required.
                                </small>
                            </span>
                        </div>
                       <div class="row">
                            <span class="col-lg-6 col-form-label font-weight-bold" for="hf-reason">Reason</span>
                            <span class="col-lg-3 col-md-3 col-form-label font-weight-bold" for="hf-patientDeathRate" *ngIf="patientDateRate">Patient Death Rate</span>
                       </div>
                       <div class="row">
                           <span class="col-lg-6">
                                <textarea class="form-control" rows="3" type="text" formControlName="reason"></textarea>
                            </span>
                            
                            <span class="col-lg-3 col-md-3" *ngIf="patientDateRate">
                                <p-calendar formControlName="patientDeathRate" [showIcon]="true" dateFormat="dd-mm-yy" ></p-calendar>
                            </span>
                      </div> 
                      <div class="row">
                            <span class="col-lg-5" style="margin-top: 10px">
                                    <input type="file" id="file" (change)="myUploader($event)" #fileInput> 
                            </span>
                      </div> 

                    </div>
                    <!-- <hr>
                    <div class="form-group">
                        <div class="row"><span class="col-lg-12 font-weight-bold" style="font-size: large">Patient Vitals</span></div>
                        <hr class="lineClass">
                        <br>
                        <div class="row">
                            <span class="col-lg-3 col-form-label font-weight-bold" for="hf-bpSystolic">BP Systolic</span> 
                            <span class="col-lg-3 col-form-label font-weight-bold" for="hf-bpDiastolic">BP Diastolic</span>
                            <span class="col-lg-3 col-form-label font-weight-bold" for="hf-bmi">BMI</span>
                        </div> 
                        <div class="row">
                            <span class="col-lg-3">
                                <input type="text" class="form-control" formControlName="bpSystolic">
                            </span>
                            <span class="col-lg-3">
                                <input type="text" class="form-control" formControlName="bpDiastolic">
                            </span>
                            <span class="col-lg-3">
                                <input type="text" class="form-control" formControlName="bmi">
                            </span>

                        </div>    
                    </div> -->

                </form>
                <p-panel header="History" [toggleable]="true" [collapsed]="true">
                        <ng-container *ngTemplateOutlet="remainingDataPanel"></ng-container>
                </p-panel>
                <ng-template #remainingDataPanel>
                        <p-table #dt  class="table table-bordered table-hover styletable" [scrollable]="false" [value]="patData" [columns]="cols"  selectionMode="single" dataKey="id">
                             <ng-template pTemplate="header">
                                <tr class="header-class">
                                    <th *ngFor="let col of cols" class="header-class">
                                        {{col.header}}
                                    </th>
                                </tr>           
                            </ng-template>
                             <ng-template pTemplate="body"  let-rowData let-columns="columns">
                                    <tr>
                                            <td  *ngFor="let col of columns" [ngSwitch]="col.field">
                                                <span *ngSwitchCase="'uploadFilesList'" (click)="downloadFile(rowData)">
                                                        <span *ngIf="rowData.uploadFilesList[0]"><i class="fa fa-file-excel-o" aria-hidden="true"></i></span>
                                                </span>
                                                  <span *ngSwitchDefault>{{rowData[col.field]}}</span>  
                                            </td>
                                        </tr>
                                
                            </ng-template>
                        </p-table>
                </ng-template>
            </div>
            <div class="text-right" style="margin: 5px">
                <button type="submit" class="btn btn-primary" (click)="onSubmit()" >
                  <i class="fa fa-dot-circle-o"></i> Submit
                </button>&nbsp;&nbsp;
                <button type="reset" class="btn btn-primary" (click)="cancelPc()">
                  <i class="fa fa-ban"></i> Reset
                </button>
            </div>
        </div>
    </div>
</div>
</div>
</div>