.table-bordered{
    border: none;
}
.mytabs{

    background: #E4E5E6;
     border-bottom:none;
}
th{
background-color: #0168C1;
color: white;
border: none;
border-left: 1px solid white;
}
.ui-paginator .ui-paginator-pages .ui-paginator-page{ 
    min-width: 2.5em !important; 
    }
    .ui-widget-header {
 border: none
    }
    .buttonclass {
        border-radius: 23px;
        margin-left: 32.4vw;
    }