.abstuctContainer{
    width:60%;
    margin-top:5%;
    margin-left:16%;
    padding-top:10px;
    align-items: center;
}


/**  modal page css **/

.chart-abstraction-tool-3 {
    width: 60%;
    margin: 0 auto;
    background: #fff;
    padding-top: 10px;
    box-shadow: 7px 7px 10px 0px #c3bbbb;
    margin-top: 50px
    
}
.btn-color {
    background: #0275D8;
}
.selection-panel {
    
}
.chart-abstraction-form {
    clear: both;
}
.mar-left-20 {
    margin-left: 20px;
}
.clear {
    clear: both
}


/** table common style **/
#chart-abstraction-tab-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  #chart-abstraction-tab-table td, #chart-abstraction-tab-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #chart-abstraction-tab-table tr:nth-child(even){background-color: #f2f2f2;}
  
  #chart-abstraction-tab-table tr:hover {background-color: #ddd;}
  
  #chart-abstraction-tab-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #0275d8;
    color: white;
  }
  

  




