.lineClass{
    margin: 0px;
        border-top: 2px solid #0275d8;
        width: 35px;
        float: left;
}
.no-padding-class{
    padding: 0px
}
.headings
{background-color: #0168C1;
    color: white;
    height: 33px;}

.table-bordered td {
    border: none;
    height: 40px;
}
.table-bordered{
    border: none;
}