// .dashboard{
//    // background:url('/assets/images/Dr Tablet.jpg') no-repeat;
//    // background-size: cover;

// }
.lineClass{
    margin: 0px;
    border-top: 2px solid #20A8D8;
    width: 35px;
    float: left;
}
.row-class{
    margin: 5px;
}
.spv-images
{
    max-width: none;
}