

.sidenav{
    height: 80vh;
}
.bg-heading{
background-color: #00BBD6;
color: white;
height: 60px;
}

.tab-button{
    background-color: #00BBD6;
    color: black
}
.headings{
  
    font-size: 1.5em;
    font-weight: bold;
}
.para-class{
    height: 150px;
}
.bio-class{
    background-color:#E5E6E6;;
}
