
  <!-- <app-page-header [heading]="'Home'" [icon]="'fa fa-home'"></app-page-header> -->
  <div class="col-lg-12" style="padding: 0px">
 
      <h2 [ngStyle]="{ 'background-color': '#F26363',
      'height': '59px','color':'white','padding': '10px'}"> <i class="fa fa-home"></i> Home</h2>
  </div>
  
  <div class="row p-3 align-items-center">
    <div class="row col-lg-12"  style=" margin-left: 13px;">
        <div class="row col-lg-12">
          <h2>Snapshot</h2>
        </div>
        <div class="row col-lg-12">
          <div class="col-lg-4 images-heightClass" style="background-image: url('assets/images/HealthyMe_DesignAssets_V2/EnrollmentsCard.png'); background-repeat: no-repeat;background-size: cover;height: 35vh;">
            <!-- <button type="submit" class="btn btn-primary">Manage</button> -->
            <div class="col-lg-12" style="margin-top: 34px;color: black;">
              <h4>ENROLLMENTS</h4></div>
            <div class="col-lg-12 row" *ngFor="let data of Enrollments" style="color: #6D6B6B">
              <div class="col-lg-10">
                  {{data?.title}} 
              </div>
              <div class="col-lg-2">
                {{data?.value}}  
              </div>
            </div>
                <a [routerLink]="['/health/enrollments']"><button type="submit" class="btn btn-primary btn-style">Manage</button></a>
          </div>
          <div class="col-lg-4 images-heightClass" style="background-image: url('assets/images/HealthyMe_DesignAssets_V2/GoalsCard.png'); background-repeat: no-repeat;background-size: cover;height: 35vh;">
            <!-- <button type="submit" class="btn btn-primary">Manage</button> -->
            <div class="col-lg-12" style="margin-top: 34px;color: black;">
                <h4>GOALS</h4></div>
              <div class="col-lg-12 row" *ngFor="let data of Goals" style="color: #6D6B6B">
                <div class="col-lg-10">
                    {{data?.title}} 
                </div>
                <div class="col-lg-2">
                  {{data?.value}}  
                </div>
              </div>
              <a [routerLink]="['/health/goals']"><button type="submit" class="btn btn-primary btn-style">Manage</button></a>
          </div>
          <div class="col-lg-4 images-heightClass" style="background-image: url('assets/images/HealthyMe_DesignAssets_V2/Rewards Card.png'); background-repeat: no-repeat;background-size: cover;height: 35vh;">
            <!-- <button type="submit" class="btn btn-primary">Manage</button> -->
            <div class="col-lg-12" style="margin-top: 34px;color: black;">
                <h4>REWARDS</h4></div>
              <div class="col-lg-12 row" *ngFor="let data of Rewards" style="color: #6D6B6B">
                <div class="col-lg-10">
                    {{data?.title}} 
                </div>
                <div class="col-lg-2">
                  {{data?.value}}  
                </div>
            </div>
          <button type="submit" class="btn btn-primary btn-style">Manage</button>
        </div>
      </div>
        <br>
        <div class="row col-lg-12">
          <div class="col-lg-4 images-heightClass" style="background-image: url('assets/images/HealthyMe_DesignAssets_V2/ProgressCard.png'); background-repeat: no-repeat;background-size: cover;height: 35vh;">
            <!-- <button type="submit" class="btn btn-primary">Manage</button> -->
            <div class="col-lg-12" style="margin-top: 34px;color: black;">
                <h4>PROGRESS</h4></div>
              <div class="col-lg-12 row" *ngFor="let data of Progress" style="color: #6D6B6B">
                <div class="col-lg-10">
                    {{data?.title}} 
                </div>
                <div class="col-lg-2">
                  {{data?.value}}  
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-style">Manage</button>
          </div>
          <div class="col-lg-4 images-heightClass" style="background-image: url('assets/images/HealthyMe_DesignAssets_V2/InterventionsCard.png'); background-repeat: no-repeat;background-size: cover;height: 35vh;">
            <!-- <button type="submit" class="btn btn-primary">Manage</button> -->
            <div class="col-lg-12" style="margin-top: 34px;color: black;">
                <h4>INTERVENTIONS</h4></div>
              <div class="col-lg-12 row" *ngFor="let data of Interventions" style="color: #6D6B6B">
                <div class="col-lg-10">
                    {{data?.title}} 
                </div>
                <div class="col-lg-2">
                  {{data?.value}}  
                </div>
              </div>
            <button type="submit" class="btn btn-primary btn-style">Manage</button>
          </div>
          <div class="col-lg-4 images-heightClass" style="background-image: url('assets/images/HealthyMe_DesignAssets_V2/SatisfactionCard.png'); background-repeat: no-repeat;background-size: cover;height: 35vh;">
            <!-- <button type="submit" class="btn btn-primary">Manage</button> -->
            <div class="col-lg-12" style="margin-top: 34px;color: black;">
                <h4>SATISFACTION</h4></div>
              <div class="col-lg-12 row" *ngFor="let data of Satisfaction" style="color: #6D6B6B">
                <div class="col-lg-10">
                    {{data?.title}} 
                </div>
                <div class="col-lg-2">
                  {{data?.value}}  
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-style">Manage</button>
          </div>
        </div>  
    </div>
  </div>


