
      p-tabview {
        /deep/ {
        .ui-tabview .ui-tabview-nav li {
            background-color: #B8F0FF;
            opacity: 1;
        }
        
      .ui-tabview.ui-tabview-top .ui-tabview-nav{
        background-color: #B8F0FF;
        border-radius: 0;
        border-bottom: none;
      }
      .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active{
        background-color: #B8F0FF;
        border-color: #B8F0FF;
        // margin-right: 20px;
        // margin-left: 26px;
        border-bottom: 3px solid #1C7CD5;
        opacity: 1;
      }
      .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active a{
          color: black;
          font-weight: bold;
      }
        }
        }
.row-class{
    margin-left: 0;
}
.vl{
    border-left: 2px solid #777777;
    margin-left: 7px;
    margin-right: 7px;
    border-radius: 10px;
    height: 20px;
}
.lineClass{
    margin: 0px;
    border-top: 2px solid #0275d8;
    width: 35px;
    float: left;
}
.no-padding{
    padding: 0;
}
.header-class{
    background-color: #0275D8;
    color: white
}