.swal-button {
    background-color: #EC5E5E;
}
.no-padding-margin{
    padding: 0px;
    margin: 0px;
}
.navbar-inverse{
   background-color: #009688;
    border-style: none;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #F9F5F5;
    background-color: #009688;
}
.navbar{
    border-radius: 0px;
    margin-bottom:2px;
    height: 8vh; 
}
.header {

    top:0;
    left: 0;
        height: 8vh;
        padding-left: 0px;
        /*background-color: #92D051;*/
        background-color: #009688;
        border-bottom: 1px solid white;
    }

.sub-header{
    background-color: #4E9E9D;
    height: 14vh;
    text-align: center;
}
.footer{
    height: 9vh;
    background-color: #4E9E9D;
	border-left: 1px solid #fff;

}
.main-content{
    background-color: #C8C8C8;
    border-left: 1px solid #fff;
}
.div-content{
    text-align: -webkit-center;
    color: #000;
    margin-top: 50px;
        width: 350px;
}
.div-content-box{
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
   height: 380px; 
}
.border-box{
    border: 1px solid #009688;
    height: 275px;
    overflow-y: scroll;
}
.div_sub-content{
    background-color: #009688;
    color: #fff;
}
.div_sub-content p{
    font-weight: bold;
    font-size: 18px;
    height: 65px;
}
.sub-content{
    height: 68.8vh;
    max-height: 68.8vh;
    overflow: hidden;
    width:100%;
}
.sub-content-table{
        background-color: transparent;
    width: 90%;
    overflow: auto;
    white-space: nowrap;
}
.content-table-div{
        height: 68.7vh;
    overflow: auto;
}
.nav-border-box{
    /*border: 1px solid #000;*/
    height: 27vh;
	position: inherit;
}
.nav-border-box a{
    padding: 10px;
}
::-webkit-scrollbar {
  /*  display:none;*/
}
::-webkit-scrollbar {
  /*  width: 17px;*/
}
 
::-webkit-scrollbar-track {
   /* border-radius: 10px;*/
}
 
::-webkit-scrollbar-thumb {
  /*  border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
.quicklink{
    background-color: #009688;
    height: 40px;  
    padding-top: 15px;
}
.quicklink a{
    color: #fff;
}
.nav-border-box  p:hover{
    background-color: #B3B9B9;
}
.active{
    background-color: #B3B9B9;
}
.measure_click{
     cursor: pointer;
}
a{
    color: #01776C;
    font-weight: bold;
    /*padding: 10px;*/
}
.logo{
   width:12.69vw;
    height: 8vh;
    position: absolute;
}
.tags{
    text-align: left;
    margin: 5px;
}
.inside-content td{
    
    white-space: normal;
    color: #449073;;
    font-weight: bold;
    padding-bottom: 10px;
}
.td-content{
    width: 240px;
}
.td-images{
    width:100px;
}
.inside-content tr{

}
.tags ul{
    list-style: none;
    padding-left: 0px;
}
.tags a{
    white-space: initial;
}
.icon-class{
    opacity: 0.5;
    display: none;
}
.icon-class:hover{
    opacity: 1;
}
/* The Close Button */
.closepop {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closepop:hover,
.closepop:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: white;
    color: black;
}

.modal-body {padding: 2px 16px;overflow-x: scroll;height: 80%;}

.modal-footer {
    padding: 1px 5px;
    background-color: white;
    color: white;
}
table.popuptable
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-spacing: 30px;
    width: 100%;
    
}
table.popuptable td{padding: 15px;}
table.popuptable th{padding: 5px;
background-color: #7CB342;
    color: #EAE9E9;
  }
table.popuptable tr {
    border: 2px solid  #7CB342;
    text-align: left;
    padding: 8px;
}


/* The Modal (background) */
.modal {
    
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /*z-index: 1;*/ /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-x: hidden; /* Enable scroll if needed */
   
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    /*border: 3px solid black;*/
    width: 80%;
    height: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.search-form {

   width: 300px;
   
    margin: 6px;
    
    /*border-radius:Top-left, Top-right, Bottom-right, Bottom-left;*/
}
/*to cange only one form and not all give unique class name like  class="search-form" */
 .search-btn {
    
    cursor:pointer;
    background-color: #EBECEA;
   
}
.input-group-btn:last-child>.btn{
  margin: 5px;
}
.btn-primary {
    color: #fff;
    border-color: #7DAFDA;
}
.container-fluid{
    padding-left: 0px;
}
.button-div{
    float: right;
    height: 80px;
     margin-right: 50px;
    margin-top: 50px;

}
.btn-edit{
    background-color:#F1EEEE;
    float: right;
    color: black;
    margin-right: 15px;
     height: 25px;
     font-size: 12px;
     font-weight: bold;
     border-color: #F1EEEE; 
}
.btn-edit:hover{
    
    color: black;
    background-color: #F1EEEE;
}


#main_field{
    height: 90vh;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}


.TableImgs  img{
margin-right: 20px;
}
.TableImgs  img.disabled {
   pointer-events: none;
   cursor: default;
  
  opacity:0.5
}
.TableImgs  img.enable {
  
    opacity:1
  
}
.TableImgsWork img{
    margin-right: 20px;
}

@media(max-width: 850px){
.TableImgs img{
margin-right: 0px;
}
}
@media(max-width: 1420px){
.TableImgsWork img{
    margin-right: 0px;
}
}

@media (max-width: 990px){
    .logo{
        width:22.6vw;
    }
}
