<div>
        <app-page-header [heading]="'Create Personas'" [icon]="'fa-table'"></app-page-header>
    <div class="card">
        <div class="row p-3 align-items-center">
           <div class="col-sm-12 col-lg-12">

                 <div class="row" style="padding: 5px">
                    <span class="col-lg-5">
                        <p-dropdown placeholder="Cluster" [autoDisplayFirst]="false"  styleClass="form-control" [options]="measureDomainList"></p-dropdown>
                    </span>
                     
                </div>
            </div>
          
            <div class="col-sm-12 col-lg-6" style="    height: 500px;overflow: scroll;">
                    <div class="brand-card  ">
                <div class="col-sm-12">
                   <div class="text-black pb-2">
                       <span>
                        <h5> Quantitative Attributes</h5>
                        </span>
                       <p-table #dt  class="table table-bordered table-hover ui-state-default1" [scrollable]="false" [value]="membergaps" [columns]="cols" selectionMode="single" dataKey="id" >
                           <ng-template pTemplate="header">
                               <tr>
                                   <th *ngFor="let col of cols" class="text-center align-middle" >
                                      {{col.header}}
                                   </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                               <tr>
                                   <td *ngFor="let col of columns" >
                                       {{rowData[col.field]}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
              
                <div class="col-sm-12">
                   <div class="text-black pb-2">
                      <span> <h5> Qualitative Attributes </h5> </span>
                       <span> <h5> What form of excercise do you prefer ?</h5></span>
                       <br>
                        <p-table #dt  class="table table-bordered table-hover ui-state-default1" [scrollable]="false" [value]="membergaps" [columns]="cols" selectionMode="single" dataKey="id" >
                            <ng-template pTemplate="header">
                                <tr>
                                   <th *ngFor="let col of cols"  class="text-center align-middle" >
                                      {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                           <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr>
                                   <td *ngFor="let col of columns" >
                                      {{rowData[col.field]}}
                                   </td>
                                </tr>
                           </ng-template>
                        </p-table>
                    </div>
                </div>
                   <div class="col-sm-12">
                        <div class="text-black pb-2">
                            <span> <h5>How frequently do you excercise ?</h5></span>
                            <br>
                             <p-table #dt  class="table table-bordered table-hover ui-state-default1" [scrollable]="false" [value]="membergaps" [columns]="cols" selectionMode="single" dataKey="id" >
                                 <ng-template pTemplate="header">
                                     <tr>
                                        <th *ngFor="let col of cols"  class="text-center align-middle" >
                                           {{col.header}}
                                         </th>
                                     </tr>
                                 </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                     <tr>
                                        <td *ngFor="let col of columns" >
                                           {{rowData[col.field]}}
                                        </td>
                                     </tr>
                                </ng-template>
                             </p-table>
                         </div>
                   </div>
                        <div class="col-sm-12">
                            <div class="text-black pb-2">
                           
                                <span> <h5>Do you set health goals and try to achieve them ?</h5></span>
                                <br>
                                 <p-table #dt  class="table table-bordered table-hover ui-state-default1" [scrollable]="false" [value]="membergaps" [columns]="cols" selectionMode="single" dataKey="id" >
                                     <ng-template pTemplate="header">
                                         <tr>
                                            <th *ngFor="let col of cols"  class="text-center align-middle" >
                                               {{col.header}}
                                             </th>
                                         </tr>
                                     </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                                         <tr>
                                            <td *ngFor="let col of columns" >
                                               {{rowData[col.field]}}
                                            </td>
                                         </tr>
                                    </ng-template>
                                 </p-table>
                            </div>
                        </div>
                        <div class="col-sm-12">
                                <div class="text-black pb-2">
                                    <span> <h5>What motivates you for your health goals?</h5></span>
                                    <br>
                                     <p-table #dt  class="table table-bordered table-hover ui-state-default1" [scrollable]="false" [value]="membergaps" [columns]="cols" selectionMode="single" dataKey="id" >
                                         <ng-template pTemplate="header">
                                             <tr>
                                                <th *ngFor="let col of cols"  class="text-center align-middle" >
                                                   {{col.header}}
                                                 </th>
                                             </tr>
                                         </ng-template>
                                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                                             <tr>
                                                <td *ngFor="let col of columns" >
                                                   {{rowData[col.field]}}
                                                </td>
                                             </tr>
                                        </ng-template>
                                     </p-table>
                                 </div>
                        </div>
                            
                             <div class="col-sm-12">
                                    <div class="text-black pb-2">
                                        <span> <h5> Why would you abstain from enrolling ?</h5></span>
                                        <br>
                                         <p-table #dt  class="table table-bordered table-hover ui-state-default1" [scrollable]="false" [value]="membergaps" [columns]="cols" selectionMode="single" dataKey="id" >
                                             <ng-template pTemplate="header">
                                                 <tr>
                                                    <th *ngFor="let col of cols"  class="text-center align-middle" >
                                                       {{col.header}}
                                                     </th>
                                                 </tr>
                                             </ng-template>
                                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                                 <tr>
                                                    <td *ngFor="let col of columns" >
                                                       {{rowData[col.field]}}
                                                    </td>
                                                 </tr>
                                            </ng-template>
                                         </p-table>
                                     </div>
                            </div>			

                 </div>   
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="brand-card  ">
                   
                    <div class="brand-card-body text-black pb-2">
                            <form [formGroup]="myForm" novalidate method="post" class="form-horizontal" style="height: 459px;overflow-y: scroll;overflow-x: hidden;">
                                    <div class="form-group row">
                                          <label class="col-md-3 col-form-label font-weight-bold" for="hf-programName">Persona Name</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" formControlName="programName">
                                            <small *ngIf="!myForm.controls.programName.valid && myForm.controls.programName.touched" class="text-danger">
                                                Program Name is required.
                                                </small>
                                        </div>
                                    </div>
        
                                     <div class="form-group row">
                                         <label class="col-md-3 col-form-label font-weight-bold" for="hf-programName">Demographics</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" formControlName="programName">
                                           <small *ngIf="!myForm.controls.programName.valid && myForm.controls.programName.touched" class="text-danger">
                                              Program Name is required.
                                             </small>
                                        </div>
                                    </div>
                                   <div class="form-group row">
                                       <label class="col-md-3 col-form-label font-weight-bold" for="hf-programName">Motivations</label>
                                        <div class="col-md-9">
                                           <input type="text" class="form-control" formControlName="programName">
                                            <small *ngIf="!myForm.controls.programName.valid && myForm.controls.programName.touched" class="text-danger">
                                            Program Name is required.
                                            </small>
                                       </div>
                                    </div>
                                    <div class="form-group row">
                                       <label class="col-md-3 col-form-label font-weight-bold" for="hf-programName">Goals</label>
                                        <div class="col-md-9">
                                           <input type="text" class="form-control" formControlName="programName">
                                            <small *ngIf="!myForm.controls.programName.valid && myForm.controls.programName.touched" class="text-danger">
                                              Program Name is required.
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                       <label class="col-md-3 col-form-label font-weight-bold" for="hf-programName">Barriers</label>
                                        <div class="col-md-9">
                                          <input type="text" class="form-control" formControlName="programName">
                                            <small *ngIf="!myForm.controls.programName.valid && myForm.controls.programName.touched" class="text-danger">
                                              Program Name is required.
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                       <label class="col-md-3 col-form-label font-weight-bold" for="hf-programName">Social Media</label>
                                        <div class="col-md-9">
                                           <input type="text" class="form-control" formControlName="programName">
                                            <small *ngIf="!myForm.controls.programName.valid && myForm.controls.programName.touched" class="text-danger">
                                              Program Name is required.
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label font-weight-bold" for="hf-programName">Health Status</label>
                                        <div class="col-md-9">
                                           <input type="text" class="form-control" formControlName="programName">
                                            <small *ngIf="!myForm.controls.programName.valid && myForm.controls.programName.touched" class="text-danger">
                                               Program Name is required.
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group row p-2">
                                            <span class="col-lg-12 text-right">
                                           
                                            <button (click)=" submitPc(myForm.value,myForm.valid)" class="btn btn-primary" > <i class="fa fa-dot-circle-o"></i>&nbsp; Submit</button>
                                            </span>
                                   </div>
                                </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>