.btn-secondary{
    background-color: #EFEFEF;
    color: #000;
}
 .form-control{
    border: 1px solid #ABACAD;
width: 90%;
}
.table th, .table td {
 border-top: none;
}
.table thead th {
border-bottom: none;
}
   
body .ui-widget-header {

    border: none;
}

.table th {
    border-top:2px solid #c8ced3 !important;
}
.brand-card-header{
    height: 3rem;
    display: -webkit-box;
}
.text-value{
    font-size: 1rem;
    color: black;
}
/*
.form-group {
  margin-bottom: 1.23rem;
}
*/