<div>
        <app-page-header [heading]="'Create Personas'" [icon]="'fa-table'"></app-page-header>
    <div class="card">
        <div class="row p-3 align-items-center">
            <div class="col-sm-12 col-lg-12">

                 <div class="row" style="padding: 5px">
                
                    <span class="col-lg-10">
                        <p-dropdown placeholder="Select Cluster" [autoDisplayFirst]="false"  styleClass="form-control" [options]="clusterList" (onChange)="clusterSelection($event)"></p-dropdown>
                       
                    </span>
                    <span class="col-lg-2">
                            
                    <button [routerLink]="['/view-persona/']" class="btn btn-primary" style="float: right;">&nbsp; View Personas</button>
                     </span>
                </div>
            </div>
          <div class="col-lg-12">
            <div class="row">
            <div class="col-lg-6" style="height: 751px;;overflow: scroll;">
                   
                <div class="brand-card  ">
                       <span> <button class="btn btn-primary"  style="float: right; margin: 5px" (click)="showAllDialog()">&nbsp; View All</button> </span>
                        <div class="brand-card-header pb-0 bg-secondary">
                            <div class="text-value">Demographics</div>
                        </div>
                <div class="col-sm-12">
                   <div class="text-black pb-2  margin-table">
                        <p-table #dt1 class="table table-bordered table-hover" [scrollable]="false" [value]="cols1" [columns]="cols1" selectionMode="single" >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Attribute</th>
                                        <th>Max Frequency</th>
                                        <th>Histograms</th>
                                       
                                    </tr>
                                    <tr  *ngFor="let col of cols1; let i=index">
                                            <td>
                                                    {{cols1[i][0].featureName}}
                                                   
                                                </td>
                                                <td>
                                                        {{cols1[i][0].maxFrequency}}
                                                </td>
                                                <td><i class="fa fa-bar-chart" aria-hidden="true" (click)="showDialog(cols1[i][0])"></i></td>
                                               
                                               
                                    </tr>
                                </ng-template>
                           
                        </p-table>
                      
                    </div>
                    <p-dialog [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" 
                     [baseZIndex]="10000">
                        <span><p-chart type="line" [options]="options" [data]="data"  width="500px" height="400px"></p-chart></span>
                            
                    </p-dialog>

                </div>
            <div class="brand-card-header pb-0 bg-secondary">
                <div class="text-value">Attributes 
                  <br>
               </div>
            </div>
            <div class="col-sm-12">
                <div class="text-black pb-2  margin-table">
                      <!--
                        <p-table #dt  class="table table-bordered table-hover ui-state-default1" [scrollable]="false" [value]="cols1" [columns]="cols1" selectionMode="single" dataKey="id" >
                          
                            <ng-template pTemplate="body" let-rowData >
                                    <tr> 
                                          <td>{{rowData.label}}</td>
                                          <td>{{rowData.value}}</td>
                                    </tr>
                                    
                                </ng-template>
                        </p-table>
                    -->
                    <p-table #dt2  class="table table-bordered table-hover ui-state-default1" [scrollable]="false" [value]="cols" [columns]="cols" exportFilename="Model_Score">
                            <ng-template pTemplate="header">
                                    <tr>
                                        <th>Attribute</th>
                                        <th>Max Frequency</th>
                                        <th>Histograms</th>
                                       
                                    </tr>
                                    <tr  *ngFor="let col of cols; let i=index">
                                            <td>
                                                    {{cols[i][0].featureName}}
                                                   
                                                </td>
                                                <td>
                                                        {{cols[i][0].maxFrequency}}
                                                </td>
                                                <td><i class="fa fa-bar-chart" aria-hidden="true" (click)="showDialog(cols[i][0])"></i></td>
                                               
                                               
                                    </tr>
                                
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <!-- <div class="brand-card-header pb-0 bg-secondary">
                        <div class="text-value">How frequently do you excercise ?</div>
                </div>
                   <div class="col-sm-12">
                        <div class="text-black pb-2  margin-table">
                 
                                <p-table #dt1 class="table table-bordered table-hover" [scrollable]="false" [value]="cols2" [columns]="cols2" selectionMode="single" >
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th *ngFor="let col of cols2">
                                                    {{col.label}}
                                                   
                                                </th>
                                            </tr>
                                            <tr>
                                                    <td *ngFor="let col of cols2" > {{col.value}}</td>
                                            </tr>
                                        </ng-template>
                                   
                                    </p-table>
                         </div>
                   </div>
                   <div class="brand-card-header pb-0 bg-secondary">
                        <div class="text-value">Do you set health goals and try to achieve them ?</div>
                   </div>
                        <div class="col-sm-12">
                            <div class="text-black pb-2  margin-table">
                                    <p-table #dt1 class="table table-bordered table-hover" [scrollable]="false" [value]="cols3" [columns]="cols3" selectionMode="single" >
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th *ngFor="let col of cols3">
                                                        {{col.label}}
                                                       
                                                    </th>
                                                </tr>
                                                <tr>
                                                        <td *ngFor="let col of cols3" > {{col.value}}</td>
                                                </tr>
                                            </ng-template>
                                       
                                        </p-table>
                            </div>
                        </div>
                        <div class="brand-card-header pb-0 bg-secondary">
                                <div class="text-value">What motivates you for your health goals?</div>
                       </div>
                        <div class="col-sm-12">
                                <div class="text-black pb-2  margin-table">
                                        <p-table #dt1 class="table table-bordered table-hover" [scrollable]="false" [value]="cols4" [columns]="cols4" selectionMode="single" >
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th *ngFor="let col of cols4">
                                                            {{col.label}}
                                                           
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                            <td *ngFor="let col of cols4" > {{col.value}}</td>
                                                    </tr>
                                                </ng-template>
                                           
                                            </p-table>
                                 </div>
                        </div>
                        <div class="brand-card-header pb-0 bg-secondary">
                                <div class="text-value"> Why would you abstain from enrolling ?</div>
                       </div>  
                             <div class="col-sm-12">
                                    <div class="text-black pb-2  margin-table">
                                            <p-table #dt1 class="table table-bordered table-hover" [scrollable]="false" [value]="cols5" [columns]="cols5" selectionMode="single" >
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                            <th *ngFor="let col of cols5">
                                                                {{col.label}}
                                                               
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                                <td *ngFor="let col of cols5" > {{col.value}}</td>
                                                        </tr>
                                                    </ng-template>
                                               
                                                </p-table>
                                     </div>
                            </div>		
                            <div class="brand-card-header pb-0 bg-secondary">
                                    <div class="text-value">Do you actively participate in social media?</div>
                           </div>  
                                 <div class="col-sm-12">
                                        <div class="text-black pb-2  margin-table">
                                                <p-table #dt1 class="table table-bordered table-hover" [scrollable]="false" [value]="cols6" [columns]="cols6" selectionMode="single" >
                                                        <ng-template pTemplate="header">
                                                            <tr>
                                                                <th *ngFor="let col of cols6">
                                                                    {{col.label}}
                                                                   
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                    <td *ngFor="let col of cols6" > {{col.value}}</td>
                                                            </tr>
                                                        </ng-template>
                                                   
                                                    </p-table>
                                         </div>
                                </div>			
                                <div class="brand-card-header pb-0 bg-secondary">
                                        <div class="text-value">How many chronic diseases are you suffering from ?</div>
                               </div>  
                                     <div class="col-sm-12">
                                            <div class="text-black pb-2  margin-table">
                                                    <p-table #dt1 class="table table-bordered table-hover" [scrollable]="false" [value]="cols7" [columns]="cols7" selectionMode="single" >
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                    <th *ngFor="let col of cols7">
                                                                        {{col.label}}
                                                                       
                                                                    </th>
                                                                </tr>
                                                                <tr>
                                                                        <td *ngFor="let col of cols7" > {{col.value}}</td>
                                                                </tr>
                                                            </ng-template>
                                                       
                                                        </p-table>
                                             </div>
                                    </div>			 
                                -->

                 </div>   
            </div>
            <div class="col-lg-6">
                <div class="brand-card  ">
                   
                    <div class="brand-card-body text-black pb-2  margin-table">
                            <form [formGroup]="myForm" novalidate method="post" class="form-horizontal" style="overflow-y: scroll; overflow-x: hidden">
                                    <div class="form-group row">
                                          <label class="col-md-3 col-form-label font-weight-bold" for="hf-personaName">Persona Name</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" formControlName="personaName">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                            <label class="col-md-3 col-form-label font-weight-bold" for="hf-bio">Bio</label>
                                             <div class="col-md-9">
                                                <input type="text" class="form-control" formControlName="bio">
                                             </div>
                                    </div>
                                 
                                    <label class="text-center align-items-center font-weight-bold">Demographics</label>

                                    <div class="col-lg-12 row demo-div">
                                        <div class="col-lg-6" style="padding-left: 5px;padding-right: 0px; margin-top: 10px;">
                                            <div class="form-group row">
                                                <label class="col-md-4 font-weight-bold" for="hf-ageGroup" style="padding-right: 0px">Age-Group</label>
                                                <div class="col-md-8" style="padding-right: 0px;">
                                                   <input type="text" class="form-control" formControlName="ageGroup">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 font-weight-bold" for="hf-occupation" style="padding-right: 0px">Occupation</label>
                                                <div class="col-md-8" style="padding-right: 0px;">
                                                   <input type="text" class="form-control" formControlName="occupation">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 font-weight-bold" for="hf-addiction" style="padding-right: 0px">Addiction</label>
                                                <div class="col-md-8" style="padding-right: 0px;">
                                                   <input type="text" class="form-control" formControlName="addiction">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6" style="padding-left: 5px;padding-right: 0px;margin-top: 10px;">
                                            <div class="form-group row">
                                                <label class="col-md-4 font-weight-bold" for="hf-education" style="padding-right: 0px">Education</label>
                                                <div class="col-md-8" style="padding-right: 0px;">
                                                   <input type="text" class="form-control" formControlName="education">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 font-weight-bold" for="hf-income" style="padding-right: 0px">Income</label>
                                                <div class="col-md-8" style="padding-right: 0px;">
                                                   <input type="text" class="form-control" formControlName="income">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 font-weight-bold" for="hf-familySize" style="padding-right: 0px">Family Size</label>
                                                <div class="col-md-8" style="padding-right: 0px;">
                                                   <input type="text" class="form-control" formControlName="familySize">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                            <label class="col-md-3 col-form-label font-weight-bold" for="hf-goals">Goals</label>
                                             <div class="col-md-9">
                                                <input type="text" class="form-control" formControlName="goals">
                                             </div>
                                    </div>
                                   <div class="form-group row">
                                       <label class="col-md-3 col-form-label font-weight-bold" for="hf-motivations">Motivations</label>
                                        <div class="col-md-9">
                                           <input type="text" class="form-control" formControlName="motivations">
                                       </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                       <label class="col-md-3 col-form-label font-weight-bold" for="hf-barriers">Barriers</label>
                                        <div class="col-md-9">
                                          <input type="text" class="form-control" formControlName="barriers">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                       <label class="col-md-3 col-form-label font-weight-bold" for="hf-socialMedia">Social Media</label>
                                        <div class="col-md-9">
                                           <input type="text" class="form-control" formControlName="socialMedia">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label font-weight-bold" for="hf-healthStatus">Health Status</label>
                                        <div class="col-md-9">
                                           <input type="text" class="form-control" formControlName="healthStatus">
                                        </div>
                                    </div>
                                    <div class="form-group row p-2">
                                            <span class="col-lg-12 text-right">
                                                    <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)" chooseLabel="Image"></p-fileUpload>
                                                    <!-- <input type="file" id="file" (change)="handleFileInput($event)" #fileInput>  -->
                                                    <br><br>
                                           <button (click)=" submitPc(myForm.value,myForm.valid)" class="btn btn-primary" > <i class="fa fa-dot-circle-o"></i>&nbsp; Submit</button>
                                        
                                           
                                            </span>
                                   </div>
                                </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>



<p-dialog [(visible)]="displayAllData" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" 
[baseZIndex]="10000">
<div class="col-lg-12" style="width: 700px;height: 700px;">
                   
        <div class="brand-card  ">
                <div class="brand-card-header pb-0 bg-secondary">
                    <div class="text-value">Attributes</div>
                </div>
        <div class="col-sm-12">
           <div class="text-black pb-2  margin-table">
                <p-table #dt2  class="table table-bordered table-hover ui-state-default1" [scrollable]="false" [value]="cols2" [columns]="cols2" exportFilename="Model_Score">
                        <ng-template pTemplate="header">
                                <tr>
                                    <th>Attribute</th>
                                    <th>Max Frequency</th>
                                    <th>Histogram</th>
                                   
                                </tr>
                                </ng-template> 
                        <ng-template pTemplate="body" let-rowData >
                            <tr> 
                               <td>{{rowData.featureName}}</td>
                               <td>{{rowData.maxFrequency}}</td>
                               <td><i class="fa fa-bar-chart" aria-hidden="true" (click)="showDialogModal(rowData)"></i></td>

                          
                                  <!--<td>  <button class="btn btn-primary">Histogram</button></td>-->
                            </tr>
                            
                        </ng-template>
                    </p-table>
                    <p-dialog [(visible)]="displayModal" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" 
                    [baseZIndex]="10000">
                       <span><p-chart type="line" [options]="options" [data]="data"  width="500px" height="400px"></p-chart></span>
                           
                   </p-dialog>
            </div>
        </div>
        </div>

        </div>
       
</p-dialog>