/deep/.ui-paginator .ui-paginator-pages .ui-paginator-page {
    padding: 0px !important;
}
input {
    width: 100%;
}
.calendarClass .ui-inputtext {
    width: 50px !important;
  }
  .ui-inputtext {
    background: #ffffff;
    width: 80px !important;
  }
  .header-class{
    background-color: #0275D8;
    color: white
}
.table-bordered{
    border: none;
}
.vl {
    border-left: 1px solid #BDBDBD;
    height: 18px;
    margin: 1px;
  }
  .inputStyle{
    border: 1px solid #A9A9A9;
  }
  .no-padding{
      padding: 0;
  }


//   /deep/
//   .app-body .main{
//     font-family: "Fira Sans";
//   }
//   .table-bordered td{
//     font-family: "Fira Sans";
// }
.table-bordered td{
    font-family: "Amazon Ember",Arial,sans-serif;
    }