
  <!-- <app-page-header [heading]="'Home'" [icon]="'fa fa-home'"></app-page-header> -->
  <div class="col-lg-12" style="padding: 0px">
 
      <h2 [ngStyle]="{ 'background-color': '#F26363',
      'height': '59px','color':'white','padding': '10px'}"> <i class="fa fa-home"></i> Home</h2>
  </div>
  
  <div class="row p-3 align-items-center">
    <div class="row col-lg-12"  style=" margin-left: 13px;">
        <div class="row col-lg-12">
          <h2>Snapshot</h2>
        </div>
        <div class="row col-lg-12">
          <div class="col-lg-4" style="background-image: url('assets/images/HealthyMe_DesignAssets_V2/EnrollmentsCard.png'); background-repeat: no-repeat;">
            <!-- <button type="submit" class="btn btn-primary">Manage</button> -->
          </div>
          <div class="col-lg-4" style="background-image: url('assets/images/HealthyMe_DesignAssets_V2/GoalsCard.png'); background-repeat: no-repeat;">
            <!-- <button type="submit" class="btn btn-primary">Manage</button> -->
          </div>
          <div class="col-lg-4" style="background-image: url('assets/images/HealthyMe_DesignAssets_V2/Rewards Card.png'); background-repeat: no-repeat;">
            <!-- <button type="submit" class="btn btn-primary">Manage</button> -->
          </div>
        </div>
        <br>
        <div class="row col-lg-12">
          <div class="col-lg-4" style="background-image: url('assets/images/HealthyMe_DesignAssets_V2/ProgressCard.png'); background-repeat: no-repeat;">
            <!-- <button type="submit" class="btn btn-primary">Manage</button> -->
          </div>
          <div class="col-lg-4" style="background-image: url('assets/images/HealthyMe_DesignAssets_V2/InterventionsCard.png'); background-repeat: no-repeat;">
            <!-- <button type="submit" class="btn btn-primary">Manage</button> -->
          </div>
          <div class="col-lg-4" style="background-image: url('assets/images/HealthyMe_DesignAssets_V2/SatisfactionCard.png'); background-repeat: no-repeat;">
            <!-- <button type="submit" class="btn btn-primary">Manage</button> -->
          </div>
        </div>  
    </div>
  </div>

