
  <!-- <app-page-header [heading]="'Home'" [icon]="'fa fa-home'"></app-page-header> -->
  <div class="col-lg-12" style="padding: 0px">
 
      <h2 [ngStyle]="{ 'background-color': '#F26363',
      'height': '59px','color':'white','padding': '10px'}"> <i class="fa fa-home"></i> Home</h2>
  </div>
  
  <div class="row p-3 align-items-center" *ngIf="coordinator">
    <div class="row col-lg-12"  style=" margin-left: 13px;">
        <div class="row col-lg-12">
          <h2>Snapshot</h2>
        </div>
        <div class="row col-lg-12">
          <div class="col-lg-4 images-heightClass" style="background-image: url('assets/images/HealthyMe_DesignAssets_V2/EnrollmentsCard.png'); background-repeat: no-repeat;background-size: cover;height: 35vh;">
            <!-- <button type="submit" class="btn btn-primary">Manage</button> -->
            <div class="col-lg-12" style="margin-top: 34px;color: #60666B;">
              <h4>ENROLLMENTS</h4></div>
            <div class="col-lg-12 row" *ngFor="let data of Enrollments" style="color: white">
              <div class="col-lg-8">
                  {{data?.title}} 
              </div>
              <div class="col-lg-3">
                {{data?.value}}  
              </div>
            </div>
                <a [routerLink]="['/health/enrollments']"><button type="submit" class="btn btn-primary btn-style">Manage</button></a>
          </div>
          <div class="col-lg-4 images-heightClass" style="background-image: url('assets/images/HealthyMe_DesignAssets_V2/GoalsCard.png'); background-repeat: no-repeat;background-size: cover;height: 35vh;">
            <!-- <button type="submit" class="btn btn-primary">Manage</button> -->
            <div class="col-lg-12" style="margin-top: 34px;color: #60666B;">
                <h4>GOALS</h4></div>
              <div class="col-lg-12 row" *ngFor="let data of Goals" style="color: white">
                <div class="col-lg-8">
                    {{data?.title}} 
                </div>
                <div class="col-lg-3">
                  {{data?.value}}  
                </div>
              </div>
              <a [routerLink]="['/health/goals']"><button type="submit" class="btn btn-primary btn-style">Manage</button></a>
          </div>
          <div class="col-lg-4 images-heightClass" style="background-image: url('assets/images/HealthyMe_DesignAssets_V2/Rewards Card.png'); background-repeat: no-repeat;background-size: cover;height: 35vh;">
            <!-- <button type="submit" class="btn btn-primary">Manage</button> -->
            <div class="col-lg-12" style="margin-top: 34px;color: #60666B;">
                <h4>REWARDS</h4></div>
              <div class="col-lg-12 row" *ngFor="let data of Rewards" style="color: white">
                <div class="col-lg-8">
                    {{data?.title}} 
                </div>
                <div class="col-lg-3">
                  {{data?.value}}  
                </div>
            </div>
          <button type="submit" class="btn btn-primary btn-style">Manage</button>
        </div>
      </div>
        <br>
        <div class="row col-lg-12">
          <div class="col-lg-4 images-heightClass" style="background-image: url('assets/images/HealthyMe_DesignAssets_V2/ProgressCard.png'); background-repeat: no-repeat;background-size: cover;height: 35vh;">
            <!-- <button type="submit" class="btn btn-primary">Manage</button> -->
            <div class="col-lg-12" style="margin-top: 34px;color: #60666B;">
                <h4>PROGRESS</h4></div>
              <div class="col-lg-12 row" *ngFor="let data of Progress" style="color: white">
                <div class="col-lg-8">
                    {{data?.title}} 
                </div>
                <div class="col-lg-3">
                  {{data?.value}}  
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-style">Manage</button>
          </div>
          <div class="col-lg-4 images-heightClass" style="background-image: url('assets/images/HealthyMe_DesignAssets_V2/InterventionsCard.png'); background-repeat: no-repeat;background-size: cover;height: 35vh;">
            <!-- <button type="submit" class="btn btn-primary">Manage</button> -->
            <div class="col-lg-12" style="margin-top: 34px;color: #60666B;">
                <h4>INTERVENTIONS</h4></div>
              <div class="col-lg-12 row" *ngFor="let data of Interventions" style="color: white">
                <div class="col-lg-8">
                    {{data?.title}} 
                </div>
                <div class="col-lg-3">
                  {{data?.value}}  
                </div>
              </div>
            <button type="submit" class="btn btn-primary btn-style">Manage</button>
          </div>
          <div class="col-lg-4 images-heightClass" style="background-image: url('assets/images/HealthyMe_DesignAssets_V2/SatisfactionCard.png'); background-repeat: no-repeat;background-size: cover;height: 35vh;">
            <!-- <button type="submit" class="btn btn-primary">Manage</button> -->
            <div class="col-lg-12" style="margin-top: 34px;color: #60666B;">
                <h4>SATISFACTION</h4></div>
              <div class="col-lg-12 row" *ngFor="let data of Satisfaction" style="color: white">
                <div class="col-lg-8">
                    {{data?.title}} 
                </div>
                <div class="col-lg-3">
                  {{data?.value}}  
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-style">Manage</button>
          </div>
        </div>  
    </div>
  </div>
    <div class="row p-3 align-items-center" *ngIf="analyst">
    <div class="row col-lg-12"  style=" margin-left: 13px;">
        <div class="row col-lg-12">
          <h2>Snapshot</h2>
        </div>
        <div class="row col-lg-12">
          <div class="col-lg-4 images-heightClass" style="background-image: url('assets/images/HealthyMe_DesignAssets_V2/ModelValidationCard.png'); background-repeat: no-repeat;background-size: cover;height: 35vh;">
            <!-- < -->
            <div class="col-lg-12" style="margin-top: 34px;color: #60666B;">
                <h4>MODEL VALIDATION</h4></div>
              <div class="col-lg-12 row" *ngFor="let data of Model_Validation" style="color: white">
                <div class="col-lg-8">
                    {{data?.title}} 
                </div>
                <div class="col-lg-3">
                  {{data?.value}}  
                </div>
              </div>
              
              <a [routerLink]="['/health/model-validation']"><button type="submit" class="btn btn-primary btn-style">Manage</button></a>
          </div>
          <div class="col-lg-4 images-heightClass" style="background-image: url('assets/images/HealthyMe_DesignAssets_V2/PersonasCard.png'); background-repeat: no-repeat;background-size: cover;height: 35vh;">
            <!-- <button type="submit" class="btn btn-primary">Manage</button> -->
            <div class="col-lg-12" style="margin-top: 34px;color: #60666B;">
                <h4>PERSONAS</h4></div>
              <div class="col-lg-12 row" *ngFor="let data of Persona" style="color: white">
                <div class="col-lg-8">
                    {{data?.title}} 
                </div>
                <div class="col-lg-3">
                  {{data?.value}}  
                </div>
              </div>
                  <a [routerLink]="['/health/create-persona1']"><button type="submit" class="btn btn-primary btn-style">Manage</button>
                  </a>
          </div>
          <div class="col-lg-4 images-heightClass" style="background-image: url('assets/images/HealthyMe_DesignAssets_V2/EffectivenessCard.png'); background-repeat: no-repeat;background-size: cover;height: 35vh;">
            <!-- <button type="submit" class="btn btn-primary">Manage</button> -->
            <div class="col-lg-12" style="margin-top: 34px;color: #60666B;">
                <h4>EFFECTIVENESS</h4></div>
              <div class="col-lg-12 row" *ngFor="let data of Effectiveness" style="color: white">
                <div class="col-lg-8">
                    {{data?.title}} 
                </div>
                <div class="col-lg-3">
                  {{data?.value}}  
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-style">Manage</button>
          </div>
        </div>
    </div>
  </div>

  <div class="row p-3 align-items-center" *ngIf="qulaity_director">
      <div class="row col-lg-12"  style=" margin-left: 13px;">
          <div class="col-lg-12" style="margin-bottom: 12px">
            <h2>Objectives</h2>
            <hr class="lineClass">
          </div>
            <div class="row col-lg-12" style="display: -webkit-box">
              <div class="col-lg-5 card round-borders" style="padding: 10px;margin-right: 25px;">
                <div class="col-lg-12">
                  <h4>Enrollments <i class="fa fa-info-circle" aria-hidden="true" style="color: #1C7CD5;"></i></h4>
                  <hr class="lineClass">
                </div>
                <div class="row col-lg-12" style="margin-top: 10px;">
                  <div class="col-lg-4"><h5>Enrolled %</h5> </div>
                  <div class="col-lg-6"><h5>Year on Year</h5></div>
                </div>
                <div class="row col-lg-12  no-padding-class">
                  <div class="col-lg-4"><p-chart type="doughnut" [options]="options" [data]="enrollmentChart"  height="20vh"></p-chart></div>
                  <div class="col-lg-6" style="padding-left: 0px; padding-top: 7vh;"><p-chart type="line" [options]="options1" [data]="enrollmentChart1"    width="188px" height="85px" ></p-chart></div>
                  <div class="col-lg-2" style="padding-top: 7vh;padding-right: 0px;padding-left: 0px;font-weight: bold;font-size: 1.2vw;">
                    <span *ngIf="enrollmentyoy > 0">{{enrollmentyoy}}% <img src="assets/images/Icon Arrow up.jpg"></span>
                    <span *ngIf="enrollmentyoy < 0">{{enrollmentyoy}}% <img src="assets/images/Icon Arrow down.jpg"></span>
                  </div>
                </div>
                <div class="col-lg-12"><button type="button" class="btn btn-primary" style="float: right">View Dashboard</button></div>
              </div>
              <div class="col-lg-5 card round-borders" style="padding: 10px">
                  <div class="col-lg-12">
                    <h4>Claims <i class="fa fa-info-circle" aria-hidden="true" style="color: #1C7CD5;"></i></h4>
                    <hr class="lineClass">
                  </div>
                  <div class="row col-lg-12" style="margin-top: 10px;">
                      <div class="col-lg-4"><h5>Claims %</h5> </div>
                      <div class="col-lg-6"><h5>Year on Year</h5></div>
                  </div>

                  <div class="row col-lg-12  no-padding-class">
                    <div class="col-lg-4"><p-chart type="doughnut" [options]="options" [data]="cliamsChart"  height="20vh"></p-chart></div>
                    <div class="col-lg-6" style="padding-left: 0px; padding-top: 7vh;"><p-chart type="line" [options]="options1" [data]="cliamsChart1"    width="188px" height="85px"></p-chart></div>
                    <div class="col-lg-2" style="padding-top: 7vh;padding-right: 0px;padding-left: 0px;font-weight: bold;font-size: 1.2vw;">
                        <span *ngIf="cliamsyoy > 0">{{cliamsyoy}}% <img src="assets/images/Icon Arrow up.jpg"></span>
                        <span *ngIf="cliamsyoy < 0">{{cliamsyoy}}% <img src="assets/images/Icon Arrow down.jpg"></span>
                    </div>
                  </div>
                  <div class="col-lg-12"><button type="button" class="btn btn-primary" style="float: right">View Dashboard</button></div>
              </div> 
            </div>
            <div class="row col-lg-12"  style="display: -webkit-box">
                <div class="col-lg-5 card round-borders" style="padding: 10px;margin-right: 25px;">
                  <div class="col-lg-12">
                    <h4>Member Health <i class="fa fa-info-circle" aria-hidden="true" style="color: #1C7CD5;"></i></h4>
                    <hr class="lineClass">
                  </div>
                  <div class="row col-lg-12" style="margin-top: 10px;">
                      <div class="col-lg-5"><h5>Improvement %</h5> </div>
                      <div class="col-lg-6"><h5>Year on Year</h5></div>
                    </div>
                  <div class="row col-lg-12  no-padding-class">
                    <div class="col-lg-4"><p-chart type="doughnut" [options]="options" [data]="memberHealthChart"  height="20vh"></p-chart></div>
                    <div class="col-lg-6" style="padding-left: 0px; padding-top: 7vh;"><p-chart type="line" [options]="options1" [data]="memberHealthChart1"    width="188px" height="85px"></p-chart></div>
                    <div class="col-lg-2" style="padding-top: 7vh;padding-right: 0px;padding-left: 0px;font-weight: bold;font-size: 1.2vw;">
                      <span *ngIf="memberHealthyoy > 0">{{memberHealthyoy}}% <img src="assets/images/Icon Arrow up.jpg"></span>
                      <span *ngIf="memberHealthyoy < 0">{{memberHealthyoy}}% <img src="assets/images/Icon Arrow down.jpg"> </span>
                    </div>
                  </div>
                  <div class="col-lg-12"><button type="button" class="btn btn-primary" style="float: right">View Dashboard</button></div>
                </div>
                <div class="col-lg-5 card round-borders" style="padding: 10px">
                  <div class="col-lg-12">
                    <h4>Brand Loyalty <i class="fa fa-info-circle" aria-hidden="true" style="color: #1C7CD5;"></i></h4>
                    <hr class="lineClass">
                  </div>
                  <div class="row col-lg-12" style="margin-top: 10px;">
                      <div class="col-lg-4"><h5>Positive %</h5> </div>
                      <div class="col-lg-6"><h5>Year on Year</h5></div>
                    </div>
                  <div class="row col-lg-12  no-padding-class">
                      <div class="col-lg-4"><p-chart type="doughnut" [options]="options" [data]="brandChart"  height="20vh"></p-chart></div>
                      <div class="col-lg-6" style="padding-left: 0px; padding-top: 7vh;"><p-chart type="line" [options]="options1" [data]="brandChart1"    width="188px" height="85px"></p-chart></div>
                      <div class="col-lg-2" style="padding-top: 7vh;padding-right: 0px;padding-left: 0px;font-weight: bold;font-size: 1.2vw;">
                          <span *ngIf="brandyoy > 0">{{brandyoy}}% <img src="assets/images/Icon Arrow up.jpg"></span>
                        <span *ngIf="brandyoy < 0">{{brandyoy}}% <img src="assets/images/Icon Arrow down.jpg"></span>
                      </div>
                  </div>
                  <div class="col-lg-12"><button type="button" class="btn btn-primary" style="float: right">View Dashboard</button></div>
                </div>
            </div>
            <div class="row col-lg-12"  style="display: -webkit-box">
              <div class="col-lg-5 card round-borders" style="padding: 10px">
                <div class="col-lg-12">
                  <h4>Risk <i class="fa fa-info-circle" aria-hidden="true" style="color: #1C7CD5;"></i></h4>
                  <hr class="lineClass">
                </div>
                <div class="row col-lg-12" style="margin-top: 10px;">
                    <div class="col-lg-4"><h5>Risk %</h5> </div>
                    <div class="col-lg-6"><h5>Year on Year</h5></div>
                  </div>
                <div class="row col-lg-12  no-padding-class">
                    <div class="col-lg-4"><p-chart type="doughnut" [options]="options" [data]="riskChart"  height="20vh"></p-chart></div>
                    <div class="col-lg-6" style="padding-left: 0px; padding-top: 7vh;"><p-chart type="line" [options]="options1" [data]="cliamsChart1"    width="188px" height="85px"></p-chart></div>
                    <div class="col-lg-2"></div>
                </div>
                <div class="col-lg-12"><button type="button" class="btn btn-primary" style="float: right">View Dashboard</button></div>
              </div>
            </div>
      </div>
  </div>


