<div >
    <app-page-header [heading]="'Single Patient View'" [icon]="'fa-table'"></app-page-header>
<div class="container card">
  <div class="row">
 
      <div class="col-lg-2 bg-secondary rounded m-1 sidenav">
        <div class="text-center"><i class="fa fa-5x fa-user-circle-o "></i></div>
        <p><span class="font-weight-bold">Address</span> :{{patientProfileForm.address}}<br>
          <span class="font-weight-bold">Phone</span>: {{patientProfileForm.phone}}<br>
            <span class="font-weight-bold">Email</span>:{{patientProfileForm.emailAddress}}</p>
        <br><hr id="left-col"><br>
        <p>PCP Name:<br><b>
				<span [innerHtml]="patientProfileForm.providerFirstName"></span> 
				<span [innerHtml]="patientProfileForm.providerLastName"></span>
				<br>
				NPI:<span [innerHtml]="patientProfileForm.providerBillingTaxId"></span></b><br><br>
				Speciality:<span [innerHtml]="patientProfileForm.providerSpeciality"></span><br>
				Address: <span [innerHtml]="patientProfileForm.providerAddress1"></span>,<br>
				<span [innerHtml]="patientProfileForm.providerAddress2"></span></p>
      </div>
      <div class="col-lg-9 m-1">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <p>Name: <b><span [innerHtml]="patientProfileForm.name"></span></b><br>
		            <span class="font-weight-bold">BenID</span>: {{patientProfileForm.patId}}<br>
			          <span class="font-weight-bold">Primary Payer</span>: {{patientProfileForm.primaryPayer}}</p>
            </div>
            <div class="col-lg-3">
              <p><span class="font-weight-bold">Last Date of service</span>: {{patientProfileForm.lastDateService}}<br>
                <span class="font-weight-bold">Age</span>: {{patientProfileForm.age}}<br>
                <span class="font-weight-bold">Gender</span>: {{patientProfileForm.gender}}<br>
                <span class="font-weight-bold">Race/Ethinticity</span>: {{patientProfileForm.ethniCity}}<br></p>
            </div>
            <div class="col-lg-3 MRA p-1">
              <p class="rounded bg-secondary">MRA Score: <span class="bg-primary rounded p-1">{{patientProfileForm.mraScore}}</span><br>
			        Risk: <span [innerHtml]="patientProfileForm.risk"></span></p>
            </div>
            <!-- <div class="col-lg-3" style="cursor: pointer;">
               <i class="fa fa-2x fa-envelope"></i>&nbsp;&nbsp;
               <i class="fa fa-2x fa-phone"></i>
            </div> -->
          </div>
        </div>
        <br><hr><br>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <table class="leftTable">
                <tr>
                  <td>
                  <div class="div1 Comorbi">
                    <span class="headings">Comorbidities</span>&nbsp;
                    <span class="bg-primary rounded p-1 " >{{patientProfileForm.comorbiditiesCount}}
                    </span>
                    <div *ngFor="let member of patientProfileForm.comorbidities" >{{member}}</div>
                  </div>
                  </td>
                  <td>
                  <div class="div1">
                    <span class="headings" style="cursor: pointer;" [routerLink]="['/member-gap-list',  patientProfileForm.patId]">Care Gaps</span>&nbsp;
                    <span class="bg-primary rounded p-1">{{patientProfileForm.careGapsCount}}</span>
                  </div>
                  <div class="div1 careGaps">
                    <div *ngFor="let member of patientProfileForm.careGaps">{{member}}</div>

                  </div>
                  </td>
                </tr> 
                <tr>
                 <td>
                  <div class="div1 NextApp">
                    <span class="headings">Next Appointment Details</span>
                    <p>Next Appointment Date: 15-Aug-2018 <br>
                    Physician Name: Test,Physician<br>
                    Department: Test Department
                    </p>
                  </div> 
                 </td> 
                 <td>
                  <div class="div1 VisitCount">
                    <table title="Visit Counts" class="table table-bordered">
                      <tr>
                        <th colspan="3" class="text-center bg-secondary">Visit Counts</th>
                      </tr>
                      <tr class="text-center bg-secondary">
                        <th>IP Visits</th>
                        <th>OP Visits</th>
                        <th>ER Visits</th>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>0</td>                  
                      </tr>
                    </table>
                  </div> 
                 </td>
                </tr>
					      <tr style="border:none;">
                  <td>
                  <div class="col-lg-6">
                    <span class="headings">Procedures</span>
                    <div>{{patientProfileForm.procedureName1}} - {{patientProfileForm.procedureDateTime1}}</div>
                    <div>{{patientProfileForm.procedureName2}} - {{patientProfileForm.procedureDateTime2}}</div>
                  </div>
                  </td>   
                  <td >
                      <div class="col-lg-8">
                      <span class="headings">Medical Prescription</span>
                  <div class="bg-secondary text-black rounded">
                    {{patientProfileForm.prescription}}
                    
                    <p>&nbsp;</p>
                  </div>
                  </div>
                  </td>  
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
</div>