<div >
    <app-page-header [heading]="'Close Gaps'" [icon]="'fa-table'"></app-page-header>
    <div class="card">
        <div class="row">
            <div class="col col-xl-12 col-lg-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <div *ngIf="gaps" class="card-text row">
                            <div class="col col-lg-2 col-xl-2 ">
                                <span class="font-weight-bold">MID</span> : <a [routerLink]="['/spv', closeGaps.memberId]">{{closeGaps.memberId}}</a>
                            </div>
                            <div class="col col-lg-2 col-xl-2">
                                <span class="font-weight-bold">Name</span> : {{closeGaps.name}}
                            </div>
                        </div>
                        <div  *ngIf="gaps" class="row card-text">
                            <div class="col col-lg-2 col-xl-2">
                                    <span class="font-weight-bold">Gender</span> : 
                                {{closeGaps.gender}}
                            </div>
                            <div class="col col-lg-2 col-xl-2">
                                    <span class="font-weight-bold">DOB </span> :                         
                                    {{closeGaps.dateOfBirth | date}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-12">
                <table class="table table-bordered table-hover" >
                    <thead>
                        <tr>
                            <th *ngFor="let col of cols" class="text-center align-middle" >
                                {{col.header}}
                            </th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let gapsElement of gaps">
                            <td *ngFor="let col of cols" [ngSwitch]="col.field">
                                <span *ngSwitchCase="'measureTitle'"> 
                                    {{gapsElement[col.field]}}
                                </span>
                                <span *ngSwitchCase="'dateTime'"> 
                                    {{gapsElement[col.field] | date}}
                                </span>
                                <p-dropdown *ngSwitchCase="'status'" [(ngModel)]="gapsElement[col.field]" [options]="statusTypes" [style]="{'width':'100%'}" ></p-dropdown>
                                <p-dropdown *ngSwitchCase="'priority'" [(ngModel)]="gapsElement[col.field]" [options]="priorityTypes" [style]="{'width':'100%'}" ></p-dropdown>
                                <span *ngSwitchDefault>
                                    <textarea [(ngModel)]="gapsElement[col.field]" [rows]="3" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
                                </span> 
                            
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p-fileUpload name="myfile[]" url="#" multiple="multiple" accept="image/*" maxFileSize="1000000"></p-fileUpload>
            </div>
        </div>
        <div class="row  text-right">
            <div class="col col-lg-12 ">
                <button pButton type="button" [routerLink]="['/measurelibrary']" label="Submit" class="ui-button-primary m-2"></button>
                <button pButton type="button" label="Cancel" class="ui-button-secondary m-2"></button>
            </div>
        </div>
    </div>
</div>
