/deep/.ui-paginator .ui-paginator-pages .ui-paginator-page {
    padding: 0px !important;
}
.table td{
width: 23%;
}
.table thead th{
    background-color: #0275D8;
    color: white
}
.card-margin{
    margin: 25px;
}