/deep/.ui-paginator .ui-paginator-pages .ui-paginator-page {
    padding: 0px !important;
}
input {
    width: 100%;
}
.btn-space{
    margin-right: 10px;
}

.ui-state-default1 {
    text-align: center !important;
    align-items: center !important;
}