<div class="col-lg-12" style="padding: 0px">
        <h3 [ngStyle]="{ 'background-color': '#FC93A4','height': '59px','color':'white','padding': '10px'}"> <i class="fa fa-flag-checkered"></i> Goals</h3>
</div>
<div class="row p-3 align-items-center">
        <div class="row col-lg-12"   style=" margin-left: 13px;">
                <div class="col-lg-12" style="margin-bottom: 12px">
                        <h2>Goals Recommendations</h2>
                        <hr class="lineClass">
                </div>
                <div class="card">
                        <div class="row col-lg-12 card-body" style=" padding: 40px;">
                        <div class="row col-lg-12">
                                <span class="col-lg-12 no-padding-class">
                                        <b>Select MID &nbsp;</b> 
                                        <p-autoComplete id="hf-member" name="hf-member" [forceSelection]="true"   [suggestions]="memberList" (onSelect)="loadMemberInfo($event)"  (completeMethod)="search($event)" placeholder="Enter MID"></p-autoComplete>
                                </span>
                        </div>
                        <br><br>
                        <div class="row col-lg-12">

                                <span class="col-lg-2 no-padding-class">
                                        <b>Name : </b>{{gaps?.name}}
                                </span>
                                <span class="col-lg-2 no-padding-class">
                                        <b>Age : </b>
                                </span>
                                <span class="col-lg-3 no-padding-class">
                                        <b>Gender : </b>{{gaps?.gender}}
                                </span>
                                <span class="col-lg-2 no-padding-class">
                                        <b>Weight : </b>
                                </span>
                        </div>
                        <br><br>
                        <div class="row col-lg-12">
                                <span class="col-lg-2 no-padding-class">
                                <b>Persona : </b>{{personaData?.personaName}}
                                </span>
                                <span class="col-lg-2 no-padding-class">
                                        <b>Preferred Goals : </b>{{personaData?.goals}}
                                </span>
                                <span class="col-lg-3 no-padding-class">
                                        <b>Current Calorie Intake : </b>{{personaData?.measureCalorieIntake}}
                                </span>
                                <span class="col-lg-3 no-padding-class">
                                        <b>Chronic Diseases : </b>{{personaData?.comorbidityCount}}
                                </span>
                                <span class="col-lg-2 no-padding-class">
                                        <b>Addictions : </b>{{personaData?.addictions}}
                                </span>
                        </div>
                        <br><br>
                        <div class="col-lg-12">
                                <form [formGroup]="myForm" novalidate method="post" class="form-horizontal">
                                        <div class="form-group">
                                                <div class="row">
                                                        <span class="col-lg-3 headings"></span>
                                                        <span class="col-lg-3 col-form-label font-weight-bold headings">Goals</span>
                                                        <span class="col-lg-3 col-form-label font-weight-bold headings">Frequency</span>
                                                        <span class="col-lg-3 col-form-label font-weight-bold headings">End Date</span> 
                                                </div>
                                                <br>
                                                <div class="row">
                                                        <span class="col-lg-3 col-form-label font-weight-bold">Physical Activity</span>
                                                        <span class="col-lg-3">
                                                                <p-dropdown placeholder="select" [autoDisplayFirst]="false"  styleClass="form-control" formControlName="physicalActivityGoal" [options]="physicalActivityGoalList"  [style]="{'width':'70%', 'border': '1px solid #ABACAD','padding':'0px'}"></p-dropdown>
                                                        </span>
                                                        <span class="col-lg-3">
                                                                <p-dropdown placeholder="select" [autoDisplayFirst]="false"  styleClass="form-control" formControlName="physicalActivityFrequency" [options]="physicalActivityFrequencyList"  [style]="{'width':'70%', 'border': '1px solid #ABACAD','padding':'0px'}"></p-dropdown>
                                                        </span>
                                                        <span class="col-lg-3">
                                                                <p-calendar formControlName="physicalActivityDate" [showIcon]="true" dateFormat="dd-mm-yy" ></p-calendar>
                                                        </span>
                                                </div>
                                                <br>
                                                <div class="row">
                                                        <span class="col-lg-3 col-form-label font-weight-bold">Calorie Intake</span>
                                                        <span class="col-lg-3">
                                                                <p-dropdown placeholder="select" [autoDisplayFirst]="false"  styleClass="form-control" formControlName="calorieIntakeGoal" [options]="calorieIntakeGoalList"  [style]="{'width':'70%', 'border': '1px solid #ABACAD','padding':'0px'}"></p-dropdown>
                                                        </span>
                                                        <span class="col-lg-3">
                                                                <p-dropdown placeholder="select" [autoDisplayFirst]="false"  styleClass="form-control" formControlName="calorieIntakeFrequency" [options]="calorieIntakeFrequencyList"  [style]="{'width':'70%', 'border': '1px solid #ABACAD','padding':'0px'}"></p-dropdown>
                                                        </span>
                                                        <span class="col-lg-3">
                                                                <p-calendar formControlName="calorieIntakeDate" [showIcon]="true" dateFormat="dd-mm-yy" ></p-calendar>
                                                        </span>
                                                </div>
                                                <br>
                                                <div class="row">
                                                        <span class="col-lg-3 col-form-label font-weight-bold">Care Gap</span>
                                                        <span class="col-lg-3">
                                                                <p-dropdown placeholder="select" [autoDisplayFirst]="false"  styleClass="form-control" formControlName="careGap" [options]="careGapList"  [style]="{'width':'70%', 'border': '1px solid #ABACAD','padding':'0px'}"></p-dropdown>
                                                        </span>
                                                        <span class="col-lg-3">
                                                        </span>
                                                        <span class="col-lg-3">
                                                                <p-calendar formControlName="careGapDate" [showIcon]="true" dateFormat="dd-mm-yy" ></p-calendar>
                                                        </span>
                                                </div>
                                        </div>
                                </form>
                        </div>
                        </div>
                        <div class="card-footer text-right">
                                <button type="submit" class="btn btn-primary" (click)="onSubmit(myForm.value)" ><i class="fa fa-dot-circle-o"></i> Submit</button>
                        </div>

                </div>

        </div>     
</div>