/deep/.ui-paginator .ui-paginator-pages .ui-paginator-page {
    padding: 0px !important;
}
input {
    width: 100%;
}
.header-class{
    background-color: #0275D8;
    color: white
}
.table-bordered {
 border: none;
}

/deep/
.ui-multiselect .ui-multiselect-label {
    padding: 0;
}

// /deep/
// .app-body .main{
//   font-family: "Montserrat";
// }

.table-bordered td{
    font-family: "Amazon Ember",Arial,sans-serif;
    }