<div >
    <app-page-header [heading]="'Quality Measures'" [icon]="'fa-table'"></app-page-header>
    <div class="card">
    <div class="row">
        <div class="col col-lg-12 ">

            <button type="button" *ngxPermissionsOnly="['6D']" pButton icon="fa fa-download" label="Export" (click)="dt.exportCSV()" style="float:left"></button>
            <p-table #dt  class="table table-bordered table-hover" [scrollable]="false" [value]="membergaps" [columns]="cols" [paginator]="true" [rows]="20" selectionMode="single" dataKey="id" exportFilename="Quality_Measures" >
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let col of cols" [pSortableColumn]="col.field" class="text-center align-middle" >
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th rowspan="2" width="3%"></th>
                    </tr>
                    <tr>
                        <th *ngFor="let col of cols" [ngSwitch]="col.field">
                                <div *ngSwitchCase="'age'">
                                        Age > {{ageFilter}}
                                        <i class="fa fa-close" (click)="ageFilter=null;dt.filter(null, col.field, col.filterMatchMode)" style="cursor:pointer" *ngIf="yearFilter"></i>
                                        <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="ageFilter" [min]="0" [max]="100" (onChange)="dt.filter($event.value, 'age', 'gt');"></p-slider>
                                    </div>
                            <input *ngSwitchCase="'id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">

                            <input *ngSwitchDefault pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                            <p-multiSelect *ngSwitchCase="'status'" [filter]="false" [options]="statusTypes" [style]="{'width':'100%','padding':'0px'}" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
                        </th>
                        
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr >
                        <td *ngFor="let col of columns" style="cursor: pointer;" (click)="copytoCreator(rowData['id'], 1)" [ngSwitch]="col.field" pTooltip="Click to open in editor">
                                <span *ngSwitchCase="'status'" >
                                    <i class="text-primary" *ngIf="rowData['status'] != 'In-active'">Active</i>
                                    <i class="text-danger" *ngIf="rowData['status'] == 'In-active'">Decommission</i>
                                </span>
                                <span *ngSwitchDefault>
                                    {{rowData[col.field]}}
                                </span>
                            
                        </td>
                        <td >
                            <i class="fa fa-copy" (click)="copytoCreator(rowData['id'], 2)" style="cursor: pointer;" pTooltip="Open in Creator"></i>&nbsp;<i class="fa fa-pie-chart" pTooltip="Dashboard"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
</div>
