<div style="margin: 25px;margin-top: 10px">
    <app-page-header [heading]="'Role Mapping'" [icon]="'fa-user'"></app-page-header>
<div class="card ">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="myForm" novalidate method="post" class="form-horizontal">

            <!--<div class="form-group row">
              <label class="col-md-3 col-form-label font-weight-bold" for="hf-RoleName">Role Name</label>
              <div class="col-md-9">
                <input type="text" class="form-control" formControlName="RoleName">
             </div>
            </div> -->
            <div class="form-group row">
                     <label class="col-md-3 col-form-label font-weight-bold" for="hf-RoleName">Role Name</label>
                    <div class="col-md-9">
                      <p-dropdown placeholder="Select a Role" [style]="{'width':'30%','scrollHeight':'150px'}"  appendTo="body" [autoDisplayFirst]="false"  styleClass="form-control" [options]="roleList" formControlName="RoleName" (onChange)="filterColumnRole($event)"></p-dropdown>
                       <!--  editable="true" to makie it editable-->
                    </div>
                   
            </div>

            <div class="form-group row">
                <div formArrayName="roleCategorys" class="col-md-12">
                    <div *ngFor="let address of formData.controls; let i=index;" class="panel panel-default">
                      <div [formGroupName]="i">
                          <div class="row" *ngIf="i==0">
                            <span class="col-lg-4">
                              <label class="font-weight-bold">Pages</label>
                            </span>
                       
                            <span class="col-lg-3">
                              <label class="font-weight-bold">Permissions</label>
                            </span>

                            <span class="col-lg-3">
                                <label class="font-weight-bold">Add</label>
                              </span>
                          </div>
                         <!--
                          <p-accordion [multiple]="true">
                              <p-accordionTab header="Quality Central">
                                  <p-checkbox  name="group1"  value="read" formControlName="read" label="Read"  inputId="ny"  (onChange)="checkedRead($event,i)"></p-checkbox>
                                  &nbsp;&nbsp;
                                <p-checkbox name="group1" value="write" formControlName="write" label="Write" inputId="sf" ></p-checkbox>
                                <p-checkbox name="group1" value="download" formControlName="download" label="Download" inputId="sf"></p-checkbox>
                              </p-accordionTab>
                              <p-accordionTab header="Quality Measure">
                                  <p-checkbox  name="group1"  value="read" formControlName="read" label="Read"  inputId="ny"  (onChange)="checkedRead($event,i)"></p-checkbox>
                                  &nbsp;&nbsp;
                                <p-checkbox name="group1" value="write" formControlName="write" label="Write" inputId="sf" ></p-checkbox>
                                <p-checkbox name="group1" value="download" formControlName="download" label="Download" inputId="sf"></p-checkbox>
                                </p-accordionTab>
                              <p-accordionTab header="Program Creator">
                                  <p-checkbox  name="group1"  value="read" formControlName="read" label="Read"  inputId="ny"  (onChange)="checkedRead($event,i)"></p-checkbox>
                                  &nbsp;&nbsp;
                                <p-checkbox name="group1" value="write" formControlName="write" label="Write" inputId="sf" ></p-checkbox>
                                <p-checkbox name="group1" value="download" formControlName="download" label="Download" inputId="sf"></p-checkbox>
                            
                              </p-accordionTab>
                          </p-accordion>
                               -->
                         <!-- <h3>Multiple Selection with Checkbox</h3>
                          <p-tree [value]="_categoriesTree" selectionMode="checkbox" [(selection)]="_selectedCategory" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)" [propagateSelectionUp]="true" [propagateSelectionDown]="true"></p-tree>
                          <div>Selected Nodes: <span *ngFor="let file of _selectedCategory">{{file.label}} </span></div>
                         -->
                     
                          <div class="row">
                            <span class="col-lg-4" let i = index>
                            
                                <p-dropdown  placeholder="Select a Page" [style]="{'width':'250px'}"  [autoDisplayFirst]="false" [options]="pageList" formControlName="parentPage" (onChange)="pagelistChange($event,i)"></p-dropdown>
                            </span>
                            <span class="col-lg-3">
                                <div class="ui-g-12">
                                  
                                    Read <input type="checkbox" name="group1"  value="read" formControlName="read"  class="inputCheckbox">
                                  
                                    Write <input type="checkbox" name="group1" value="write" formControlName="write"  (onChange)="check($event)" class="inputCheckbox">
                                  
                                    Download <input type="checkbox" name="group1" value="download" formControlName="download" class="inputCheckbox">
                                    <!--
                                <p-checkbox  name="group1"  value="read" formControlName="read" label="Read" binary="true" ></p-checkbox>
                                &nbsp;&nbsp;
                                <p-checkbox name="group1" value="write" formControlName="write" label="Write" (onChange)="check($event)"></p-checkbox>
                                <p-checkbox name="group1" value="download" formControlName="download" label="Download" ></p-checkbox>
                              -->
                            </div>
                            </span>
                            <span class="col-lg-2 btn-background" *ngIf="myForm.controls.roleCategorys.controls.length == i+1" style="padding: 5px;">
                              <button let i = "index" class="btn btn-secondary" (click)="addCategory(i)">+</button> 
                            </span>
                            <span class="col-lg-2 btn-background" *ngIf="myForm.controls.roleCategorys.controls.length != i+1" style="padding: 5px;">
                              <button  class="btn btn-secondary" (click)="removeCategory(i)">-</button> 
                            </span>                         
                          </div>
                      </div>
                    </div>
                  </div> 
            </div>
           </form>
        </div>
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-primary" (click)="onSubmit(myForm.value,myForm.valid)" >
              <i class="fa fa-dot-circle-o"></i> Submit
            </button>&nbsp;&nbsp;
        </div>
    </div>
</div>
</div>
</div>
</div>

