/deep/.ui-paginator .ui-paginator-pages .ui-paginator-page {
    padding: 0px !important;
}
input {
    width: 100%;
}
.btn-space {
    margin-right: 5px;
}
.form-control{
    border: 1px solid #ABACAD;
}
.ui-dropdown-items-wrapper{
    max-height: 140px !important;
}