.btn-secondary{
    background-color: #EFEFEF;
    color: #000;
}
 .form-control{
    border: 1px solid #ABACAD;}
    .lineClass{
        margin: 0px;
        border-top: 2px solid #0275d8;
        width: 35px;
        float: left;
    }
    .no-padding{
        padding: 0
    }
    .category{
        width: 33%;
    }
    .points{
        width: 25%;
    }
    .add{
        width:16.6%;
    }


//     /deep/
// .app-body .main{
//   font-family: "Source Sans Pro";
// }