<div class="col-lg-12" style="padding: 0px">
 
        <h2 [ngStyle]="{ 'background-color': 'rgba(255, 156, 7, 0.59)',
        'height': '59px','color':'white','padding': '10px'}"> <i class="fa fa-list"></i> Clustering Statistics</h2>
</div>
<div class="row col-lg-12" style="padding-left: 47px; padding-top: 20px;">
    <div class="card">
            <div class="col-lg-12 " style="    padding: 15px;">
                <p-table #dt  class="table table-bordered table-hover styletable" [scrollable]="false" [value]="membergaps" [columns]="cols"  selectionMode="single" dataKey="id">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let col of cols1" class="header-class">
                                {{col}}
                            </th>
                        </tr>           
                        <tr>
                            <td  *ngFor="let col of cols2 ">
                                {{col}}
                            </td>
                        </tr>
                        <tr>
                            <td  *ngFor="let col of cols3 ">
                                {{col}}
                            </td>
                        </tr> 
                           
                    </ng-template>
                    <ng-template pTemplate="body">

                        </ng-template>
                </p-table>
            </div>
        <br>
        <div class="row col-lg-12">
                <br>
                <div class="row col-lg-12">
                    <div class="col-lg-6">
                        <h4>Silhouette width</h4>
                    </div>
                    <div class="col-lg-6">
                        <h4>Elbow Method</h4>
                    </div>
                </div>
                <br><br>
                    <div class="col-lg-6 " style="overflow: auto;">
                        <img src="assets/images/Kmean_silhouette_validation.png" height="400px" width="400px">
                    </div>
                    <div class="col-lg-6 " style="overflow: auto;">
                        <img src="assets/images/Kmean_elbow_validation.png" height="400px" width="400px">
                    </div>
            </div>
    </div>
</div>

    