<div class="col-lg-12" style="padding: 0px">
        <h2 [ngStyle]="{ 'background-color': '#F26363',
        'height': '59px','color':'white','padding': '10px'}"><i class="fa fa-gift" aria-hidden="true"></i> Rewards Recommendations</h2>
</div>
<div class="row p-3 align-items-center">
        <div class="row col-lg-12"   style=" margin-left: 13px;">
                <!-- <div class="col-lg-12" style="margin-bottom: 12px">
                        <h2>Rewards Recommendations</h2>
                        <hr class="lineClass">
                </div> -->
                <div class="card">
                        <div class="row col-lg-12 card-body" style=" padding: 40px;">
                        <div class="row col-lg-12">
                                <span class="col-lg-12 no-padding-class">
                                        <b>Select MID &nbsp;</b> 
                                        <p-autoComplete id="hf-member" name="hf-member" [forceSelection]="true"   [suggestions]="memberList" (onSelect)="loadMemberInfo($event)"  (completeMethod)="search($event)" placeholder="Enter MID"></p-autoComplete>
                                </span>
                        </div>
                        <br><br>
                        <div class="row col-lg-12">

                                <span class="col-lg-3 no-padding-class">
                                        <b>Name : </b>{{gaps?.name}} &nbsp;
                                </span>
                                <span class="col-lg-2 no-padding-class">
                                        <b>Age : </b>{{personaData?.age}} &nbsp;
                                </span>
                                <span class="col-lg-2 no-padding-class">
                                        <b>Gender : </b>{{gaps?.gender}} &nbsp;
                                </span>
                                <span class="col-lg-2 no-padding-class">
                                        <b>Weight : </b>{{personaData?.weight}} &nbsp;
                                </span>
                        </div>
                        <br><br>
                        <div class="row col-lg-12">
                                <span class="col-lg-3 no-padding-class">
                                <b>Persona : </b>{{personaData?.personaName}} &nbsp;
                                </span>
                                <span class="col-lg-3 no-padding-class">
                                        <b>Preferred Reward : </b>{{personaData?.rewards}} &nbsp;
                                </span>
                                <span class="col-lg-4 no-padding-class">
                                        <b>Motivations : </b>{{personaData?.motivations}}
                                </span>
                        </div>
                        <br><br>
                        <div class="col-lg-12 no-padding-class">
                                <p-table #dt  class="table table-bordered table-hover table-style" [scrollable]="false" [value]="rewardTable"   [columns]="cols" selectionMode="single" dataKey="memberId">
                                        <ng-template pTemplate="header" let-columns>
                                                <tr class="headings">
                                                        <th>Goal</th>
                                                        <th>Frequency</th>
                                                        <th>Date</th>
                                                        <th>Recommendation 1</th>
                                                        <th>Recommendation 2</th>
                                                        <th>Recommendation 3</th>
                                                        <th>Others</th>
                                                </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                                        <tr>
                                                <td *ngFor="let col of columns" [ngSwitch]="col.field">
                                                        <span *ngSwitchDefault>
                                                                {{rowData[col.field]}}
                                                        </span>
                                                        <span *ngSwitchCase="'reward1'">
                                                               {{rowData[col.field]}}
                                                                <!-- <p-radioButton name="" value="val1" [(ngModel)]="rewards1"></p-radioButton>{{rowData[col.field]}} -->
                                                        </span>
                                                        <span *ngSwitchCase="'reward2'">
                                                               {{rowData[col.field]}}
                                                                <!-- <p-radioButton name="groupname" value="val2" [(ngModel)]="rewards1"></p-radioButton>{{rowData[col.field]}} -->
                                                        </span>
                                                        <span *ngSwitchCase="'reward3'">
                                                                {{rowData[col.field]}}
                                                                <!-- <p-radioButton name="groupname" value="val3" [(ngModel)]="rewards1"></p-radioButton>{{rowData[col.field]}} -->
                                                        </span>
                                                        <span *ngSwitchCase="'recommendedReward'">
                                                                <p-dropdown [options]="othersList"  placeholder="select reward" [autoDisplayFirst]="false"  styleClass="form-control"   [style]="{'width':'80%', 'border': '1px solid #ABACAD','padding':'0px'}" ></p-dropdown>
                                                        </span>
                                                        <!-- <td><p-radioButton name="groupname" value="val1" [(ngModel)]="rewards1"></p-radioButton></td>
                                                        <td><p-radioButton name="groupname" value="val1" [(ngModel)]="rewards2"></p-radioButton></td>
                                                        <td><p-radioButton name="groupname" value="val1" [(ngModel)]="rewards3"></p-radioButton></td>
                                                        <td><p-dropdown [options]="othersList"  placeholder="select" [autoDisplayFirst]="false"  styleClass="form-control"   [style]="{'width':'70%', 'border': '1px solid #ABACAD','padding':'0px'}"></p-dropdown></td> -->
                                                </td>   
                                        </tr>
                                        </ng-template>
                                </p-table>
                                <!-- <table class="table table-bordered table-hover table-style">
                                        <thead>
                                                <tr class="headings">
                                                        <th>Goal</th>
                                                        <th>Frequency</th>
                                                        <th>Date</th>
                                                        <th>Reward1</th>
                                                        <th>Reward2</th>
                                                        <th>Reward3</th>
                                                        <th>Others</th>
                                                </tr>                                 
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td></td><td></td><td></td>
                                                        <td><p-radioButton name="groupname" value="val1" [(ngModel)]="rewards1"></p-radioButton></td>
                                                        <td><p-radioButton name="groupname" value="val1" [(ngModel)]="rewards2"></p-radioButton></td>
                                                        <td><p-radioButton name="groupname" value="val1" [(ngModel)]="rewards3"></p-radioButton></td>
                                                        <td><p-dropdown [options]="othersList"  placeholder="select" [autoDisplayFirst]="false"  styleClass="form-control"   [style]="{'width':'70%', 'border': '1px solid #ABACAD','padding':'0px'}"></p-dropdown></td>
                                                </tr>

                                        </tbody>
                                </table> -->
                        </div>
                        </div>
                        <div class="card-footer text-right">
                                <button class="btn btn-primary" [routerLink]="['/health/rewards-member-list']" style="margin-right: 10px">View Member List</button>
                                <button type="submit" class="btn btn-primary" (click)="onSubmit()" ><i class="fa fa-dot-circle-o"></i> Submit</button>
                        </div>

                </div>

        </div>     
</div>