

.sidenav{
    height: 80vh;
}
.bg-heading{
background-color: #00BBD6;
color: white;
height: 60px;
}
.headings{
    font-size: 1.5em;
    font-weight: bold;
}
//.para-class{
    //height: 150px;
//}
// .bio-class{
//    // background-color:#E5E6E6;
//    // margin-bottom: 10px;
// }

.customProgress .ui-progressbar .ui-progressbar-value{
    background: #00BBD6 !important;
}
.headers-color{
color: #00BBD6;
}
.no-padding-class{
    padding: 0px;
}
.lineClass{
    margin: 0px;
    border-top: 2px solid #0275d8;
    width: 35px;
    float: left;
}
.grey_background{
background-color: #F7F8FA;
}