.btn-secondary{
    background-color: #EFEFEF;
    color: #000;
}
 .form-control{
    border: 1px solid #ABACAD;
// width: 90%;
}
.table th, .table td {
 border-top: none;
}
.table thead th {
border-bottom: none;
}
   
body .ui-widget-header {

    border: none;
}

.table th {
    border-top:2px solid #c8ced3 !important;
}
.brand-card-header{
    height: 3rem;
    display: -webkit-box;
}
.text-value{
    font-size: 1rem;
    color: black;
}
.table-bordered{
    border: none;
  
   }
   .margin-table{
    margin-top: 15px;
    margin-bottom: 10px;
   }
/*
.form-group {
  margin-bottom: 1.23rem;
}
*/
input[type="file"] {
   size: 60px
}
.header-class{
    background-color: #0275D8;
    color: white
}
.lineClass{
    margin: 0px;
    border-top: 2px solid #0275d8;
    width: 35px;
    float: left;
}
.user-avatar {
    margin-top: 12%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
}